<dec f='include/unicode/ucnv_err.h' l='200' type='char *'/>
<dec f='include/unicode/ucnv_err.h' l='216' type='UChar *'/>
<offset>256</offset>
<doc f='include/unicode/ucnv_err.h' l='200'>/**&lt; Pointer to the target buffer. @stable ICU 2.0    */</doc>
<doc f='include/unicode/ucnv_err.h' l='216'>/**&lt; Pointer to the target buffer. @stable ICU 2.0    */</doc>
