<inh f='boost-1.85.0/libs/asio/include/boost/asio/detail/noncopyable.hpp' l='26' c='boost::asio::detail::noncopyable'/>
<def f='boost-1.85.0/libs/asio/include/boost/asio/execution_context.hpp' l='292' ll='332'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/execution_context.hpp' l='331'/>
<ovr f='boost-1.85.0/libs/asio/include/boost/asio/execution_context.hpp' l='363' c='boost::asio::detail::execution_context_service_base'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/execution_context.hpp' l='364'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/execution_context.hpp' l='371' c='_ZN5boost4asio6detail30execution_context_service_baseC1ERNS0_17execution_contextE'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/service_registry.hpp' l='109'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/service_registry.hpp' l='113' c='_ZN5boost4asio6detail16service_registry6createEPv'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/service_registry.hpp' l='116' c='_ZN5boost4asio6detail16service_registry7destroyEPNS0_17execution_context7serviceE'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/service_registry.hpp' l='123'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/service_registry.hpp' l='130' c='_ZN5boost4asio6detail16service_registry14do_use_serviceERKNS0_17execution_context7service3keyEPFPS4_PvES9_'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/service_registry.hpp' l='138' c='_ZN5boost4asio6detail16service_registry14do_add_serviceERKNS0_17execution_context7service3keyEPS4_'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/service_registry.hpp' l='151'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/impl/service_registry.hpp' l='84' c='_ZN5boost4asio6detail16service_registry6createEPv'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/impl/service_registry.ipp' l='41' c='_ZN5boost4asio6detail16service_registry17shutdown_servicesEv'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/impl/service_registry.ipp' l='53' c='_ZN5boost4asio6detail16service_registry16destroy_servicesEv'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/impl/service_registry.ipp' l='64' c='_ZN5boost4asio6detail16service_registry11notify_forkENS0_17execution_context10fork_eventE'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/impl/service_registry.ipp' l='67' c='_ZN5boost4asio6detail16service_registry11notify_forkENS0_17execution_context10fork_eventE'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/impl/service_registry.ipp' l='108' c='_ZN5boost4asio6detail16service_registry7destroyEPNS0_17execution_context7serviceE'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/impl/service_registry.ipp' l='113' c='_ZN5boost4asio6detail16service_registry14do_use_serviceERKNS0_17execution_context7service3keyEPFPS4_PvES9_'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/impl/service_registry.ipp' l='120' c='_ZN5boost4asio6detail16service_registry14do_use_serviceERKNS0_17execution_context7service3keyEPFPS4_PvES9_'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/impl/service_registry.ipp' l='155' c='_ZN5boost4asio6detail16service_registry14do_add_serviceERKNS0_17execution_context7service3keyEPS4_'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/impl/service_registry.ipp' l='163' c='_ZN5boost4asio6detail16service_registry14do_add_serviceERKNS0_17execution_context7service3keyEPS4_'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/detail/impl/service_registry.ipp' l='182' c='_ZNK5boost4asio6detail16service_registry14do_has_serviceERKNS0_17execution_context7service3keyE'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/impl/execution_context.hpp' l='33' c='_ZN5boost4asio11use_serviceERNS0_17execution_contextE'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/impl/execution_context.hpp' l='53' c='_ZN5boost4asio11add_serviceERNS0_17execution_contextEPT_'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/impl/execution_context.hpp' l='62' c='_ZN5boost4asio11has_serviceERNS0_17execution_contextE'/>
<ovr f='boost-1.85.0/libs/asio/include/boost/asio/io_context.hpp' l='1152' c='boost::asio::io_context::service'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/io_context.hpp' l='1153'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/impl/io_context.hpp' l='38' c='_ZN5boost4asio11use_serviceERNS0_10io_contextE'/>
<use f='boost-1.85.0/libs/asio/include/boost/asio/impl/io_context.ipp' l='137' c='_ZN5boost4asio10io_context7serviceC1ERS1_'/>
<size>40</size>
<doc f='boost-1.85.0/libs/asio/include/boost/asio/execution_context.hpp' l='291'>/// Base class for all io_context services.</doc>
<fun r='_ZN5boost4asio17execution_context7service7contextEv'/>
<fun r='_ZN5boost4asio17execution_context7serviceC1ERS1_'/>
<fun r='_ZN5boost4asio17execution_context7serviceD1Ev'/>
<fun r='_ZN5boost4asio17execution_context7service8shutdownEv'/>
<fun r='_ZN5boost4asio17execution_context7service11notify_forkENS1_10fork_eventE'/>
<mbr r='boost::asio::execution_context::service::key_' o='64' t='struct key'/>
<mbr r='boost::asio::execution_context::service::owner_' o='192' t='boost::asio::execution_context &amp;'/>
<mbr r='boost::asio::execution_context::service::next_' o='256' t='boost::asio::execution_context::service *'/>
<fun r='_ZN5boost4asio17execution_context7service7contextEv'/>
<fun r='_ZN5boost4asio17execution_context7serviceC1ERS1_'/>
<fun r='_ZN5boost4asio17execution_context7serviceD1Ev'/>
<fun r='_ZN5boost4asio17execution_context7service11notify_forkENS1_10fork_eventE'/>
