<dec f='boost-1.85.0/libs/log/include/boost/log/detail/format.hpp' l='155' type='boost::log::aux::basic_format::string_type'/>
<doc f='boost-1.85.0/libs/log/include/boost/log/detail/format.hpp' l='154'>//! Formatting result</doc>
