<def f='boost-1.85.0/libs/thread/include/boost/thread/futures/launch.hpp' l='17' ll='28' macro='1'/>
<use f='boost-1.85.0/libs/thread/include/boost/thread/future.hpp' l='164'/>
<use f='boost-1.85.0/libs/thread/include/boost/thread/future.hpp' l='504' c='_ZNK5boost6detail17shared_state_base13launch_policyERNS_11unique_lockINS_5mutexEEE'/>
<use f='boost-1.85.0/libs/thread/include/boost/thread/future.hpp' l='1417' c='_ZNK5boost6detail12basic_future13launch_policyERNS_11unique_lockINS_5mutexEEE'/>
<use f='boost-1.85.0/libs/thread/include/boost/thread/future.hpp' l='1420' c='_ZNK5boost6detail12basic_future13launch_policyERNS_11unique_lockINS_5mutexEEE'/>
<use f='boost-1.85.0/libs/thread/include/boost/thread/future.hpp' l='1423' c='_ZNK5boost6detail12basic_future13launch_policyEv'/>
<use f='boost-1.85.0/libs/thread/include/boost/thread/future.hpp' l='1429' c='_ZNK5boost6detail12basic_future13launch_policyEv'/>
<use f='boost-1.85.0/libs/thread/include/boost/thread/future.hpp' l='3897' c='_ZN5boost5asyncENS_6launchEPFT_vE'/>
<use f='boost-1.85.0/libs/thread/include/boost/thread/future.hpp' l='3958' c='_ZN5boost5asyncENS_6launchEOT_'/>
<use f='boost-1.85.0/libs/thread/include/boost/thread/future.hpp' l='4282' c='_ZN5boost5asyncEPFT_vE'/>
<use f='boost-1.85.0/libs/thread/include/boost/thread/future.hpp' l='4299' c='_ZN5boost5asyncEOT_'/>
