<def f='googletest-1.12.1/googletest/src/gtest.cc' l='1114' ll='1127'/>
<use f='googletest-1.12.1/googletest/src/gtest.cc' l='2839' c='_ZN7testing8TestInfo3RunEv'/>
<use f='googletest-1.12.1/googletest/src/gtest.cc' l='3007' c='_ZN7testing9TestSuite3RunEv'/>
<use f='googletest-1.12.1/googletest/src/gtest.cc' l='5827' c='_ZN7testing8internal12UnitTestImpl11RunAllTestsEv'/>
<size>8</size>
<doc f='googletest-1.12.1/googletest/src/gtest.cc' l='1113'>// A helper class for measuring elapsed times.</doc>
<fun r='_ZN7testing8internal5TimerC1Ev'/>
<fun r='_ZN7testing8internal5Timer7ElapsedEv'/>
<mbr r='testing::internal::Timer::start_' o='0' t='std::chrono::steady_clock::time_point'/>
