<def f='fmt-8.1.0/test/gtest/gmock-gtest-all.cc' l='2526' ll='2539'/>
<use f='fmt-8.1.0/test/gtest/gmock-gtest-all.cc' l='4337' c='_ZN7testing8TestInfo3RunEv'/>
<use f='fmt-8.1.0/test/gtest/gmock-gtest-all.cc' l='4504' c='_ZN7testing9TestSuite3RunEv'/>
<use f='fmt-8.1.0/test/gtest/gmock-gtest-all.cc' l='7306' c='_ZN7testing8internal12UnitTestImpl11RunAllTestsEv'/>
<size>8</size>
<doc f='fmt-8.1.0/test/gtest/gmock-gtest-all.cc' l='2525'>// A helper class for measuring elapsed times.</doc>
