<dec f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.h' l='164' type='enum TemporaryVariableGeneratorPolicy'/>
<offset>128</offset>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2700' u='r' c='_ZN3CPP19WriteInitialization4Item12writeSetupUiERK7QStringNS1_15EmptyItemPolicyE'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2705' u='r' c='_ZN3CPP19WriteInitialization4Item12writeSetupUiERK7QStringNS1_15EmptyItemPolicyE'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2710' u='r' c='_ZN3CPP19WriteInitialization4Item12writeSetupUiERK7QStringNS1_15EmptyItemPolicyE'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2748' u='r' c='_ZN3CPP19WriteInitialization4Item18writeRetranslateUiERK7QString'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2751' u='r' c='_ZN3CPP19WriteInitialization4Item18writeRetranslateUiERK7QString'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2760' u='r' c='_ZN3CPP19WriteInitialization4Item18writeRetranslateUiERK7QString'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2794' u='r' c='_ZN3CPP19WriteInitialization4Item9addSetterERK7QStringS4_b'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2795' u='w' c='_ZN3CPP19WriteInitialization4Item9addSetterERK7QStringS4_b'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2800' u='r' c='_ZN3CPP19WriteInitialization4Item9addSetterERK7QStringS4_b'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2801' u='w' c='_ZN3CPP19WriteInitialization4Item9addSetterERK7QStringS4_b'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2815' u='r' c='_ZN3CPP19WriteInitialization4Item8addChildEPS1_'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2815' u='r' c='_ZN3CPP19WriteInitialization4Item8addChildEPS1_'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2816' u='w' c='_ZN3CPP19WriteInitialization4Item8addChildEPS1_'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2816' u='r' c='_ZN3CPP19WriteInitialization4Item8addChildEPS1_'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2817' u='r' c='_ZN3CPP19WriteInitialization4Item8addChildEPS1_'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2817' u='r' c='_ZN3CPP19WriteInitialization4Item8addChildEPS1_'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2818' u='w' c='_ZN3CPP19WriteInitialization4Item8addChildEPS1_'/>
<use f='qtbase-6.5.0/src/tools/uic/cpp/cppwriteinitialization.cpp' l='2818' u='r' c='_ZN3CPP19WriteInitialization4Item8addChildEPS1_'/>
