<use f='qtbase-6.5.0/src/tools/uic/ui4.h' l='693' u='r' c='_ZNK15DomCustomWidget19hasElementContainerEv'/>
<dec f='qtbase-6.5.0/src/tools/uic/ui4.h' l='733' type='32'/>
<use f='qtbase-6.5.0/src/tools/uic/ui4.cpp' l='1290' u='r' c='_ZNK15DomCustomWidget5writeER16QXmlStreamWriterRK7QString'/>
<use f='qtbase-6.5.0/src/tools/uic/ui4.cpp' l='1355' u='r' c='_ZN15DomCustomWidget19setElementContainerEi'/>
<use f='qtbase-6.5.0/src/tools/uic/ui4.cpp' l='1426' u='r' c='_ZN15DomCustomWidget21clearElementContainerEv'/>
