<dec f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jpeglib.h' l='456' type='struct jpeg_comp_master *'/>
<offset>3968</offset>
<doc f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jpeglib.h' l='453'>/*
   * Links to compression subobjects (methods and private variables of modules)
   */</doc>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcapimin.c' l='171' u='r' c='jpeg_finish_compress'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcapimin.c' l='175' u='r' c='jpeg_finish_compress'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcapimin.c' l='176' u='r' c='jpeg_finish_compress'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcapimin.c' l='189' u='r' c='jpeg_finish_compress'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcapistd.c' l='53' u='r' c='jpeg_start_compress'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcapistd.c' l='100' u='r' c='jpeg_write_scanlines'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcapistd.c' l='101' u='r' c='jpeg_write_scanlines'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcapistd.c' l='145' u='r' c='jpeg_write_raw_data'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcapistd.c' l='146' u='r' c='jpeg_write_raw_data'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcmaster.c' l='323' u='r' c='select_scan_parameters'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcmaster.c' l='450' u='r' c='prepare_for_pass'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcmaster.c' l='538' u='r' c='pass_startup'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcmaster.c' l='552' u='r' c='finish_pass_master'/>
<use f='qtbase-6.5.0/src/3rdparty/libjpeg/src/jcmaster.c' l='597' u='w' c='jinit_c_master_control'/>
