<dec f='qtbase-6.5.0/qmake/generators/makefile.h' l='84' type='QString'/>
<offset>768</offset>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='1025' u='w' c='_ZN17MakefileGenerator20writeProjectMakefileEv'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='1035' u='r' c='_ZN17MakefileGenerator20writeProjectMakefileEv'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='1041' u='r' c='_ZN17MakefileGenerator20writeProjectMakefileEv'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='1044' u='r' c='_ZN17MakefileGenerator20writeProjectMakefileEv'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='1045' u='r' c='_ZN17MakefileGenerator20writeProjectMakefileEv'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='1046' u='r' c='_ZN17MakefileGenerator20writeProjectMakefileEv'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2425' u='w' c='_ZNK17MakefileGenerator21findSubDirsSubTargetsEv'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2427' u='w' c='_ZNK17MakefileGenerator21findSubDirsSubTargetsEv'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2428' u='m' c='_ZNK17MakefileGenerator21findSubDirsSubTargetsEv'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2491' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2539' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2542' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2560' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2583' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2591' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2593' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2598' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2621' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2644' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2723' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2726' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/makefile.cpp' l='2729' u='r' c='_ZN17MakefileGenerator15writeSubTargetsER11QTextStream5QListIPNS_9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/unix/unixmake2.cpp' l='92' u='r' c='_ZN21UnixMakefileGenerator15writeSubTargetsER11QTextStream5QListIPN17MakefileGenerator9SubTargetEEi'/>
<use f='qtbase-6.5.0/qmake/generators/unix/unixmake2.cpp' l='126' u='r' c='_ZN21UnixMakefileGenerator15writeSubTargetsER11QTextStream5QListIPN17MakefileGenerator9SubTargetEEi'/>
