<dec f='qtbase-6.5.0/src/3rdparty/md4c/md4c.h' l='297' type='MD_ATTRIBUTE'/>
<use f='qtbase-6.5.0/src/3rdparty/md4c/md4c.c' l='4108' u='a' c='md_enter_leave_span_wikilink'/>
<offset>0</offset>
