<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2136' c='_ZNK2OT16ContextFormat1_410intersectsEPK8hb_set_t'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2159' u='r' c='_ZNK2OT16ContextFormat1_47closureEPNS_20hb_closure_context_tE'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2163' u='r' c='_ZNK2OT16ContextFormat1_47closureEPNS_20hb_closure_context_tE'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2178' c='_ZNK2OT16ContextFormat1_415closure_lookupsEPNS_28hb_closure_lookups_context_tE'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2197' c='_ZNK2OT16ContextFormat1_414collect_glyphsEPNS_27hb_collect_glyphs_context_tE'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2205' u='r' c='_ZNK2OT16ContextFormat1_411would_applyEPNS_24hb_would_apply_context_tE'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2222' u='r' c='_ZNK2OT16ContextFormat1_45applyEPNS_21hb_ot_apply_context_tE'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2242' c='_ZNK2OT16ContextFormat1_46subsetEP19hb_subset_context_t'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2257' u='c' c='_ZNK2OT16ContextFormat1_48sanitizeEP21hb_sanitize_context_t'/>
<dec f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2266' type='Array16Of&lt;typename Types::template OffsetTo&lt;OT::ContextFormat1_4::RuleSet&gt;&gt;'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2269' c='_ZNK2OT16ContextFormat1_432_compiles_assertion_on_line_2269Ev'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2269' u='r' c='_ZNK2OT16ContextFormat1_432_instance_assertion_on_line_2269Ev'/>
