<def f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2006' ll='2119'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2125'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2276'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='2538'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3673'/>
<fun r='_ZNK2OT7RuleSet10intersectsEPK8hb_set_tRNS_27ContextClosureLookupContextE'/>
<fun r='_ZNK2OT7RuleSet7closureEPNS_20hb_closure_context_tEjRNS_27ContextClosureLookupContextE'/>
<fun r='_ZNK2OT7RuleSet15closure_lookupsEPNS_28hb_closure_lookups_context_tERNS_27ContextClosureLookupContextE'/>
<fun r='_ZNK2OT7RuleSet14collect_glyphsEPNS_27hb_collect_glyphs_context_tERNS_33ContextCollectGlyphsLookupContextE'/>
<fun r='_ZNK2OT7RuleSet11would_applyEPNS_24hb_would_apply_context_tERKNS_25ContextApplyLookupContextE'/>
<fun r='_ZNK2OT7RuleSet5applyEPNS_21hb_ot_apply_context_tERKNS_25ContextApplyLookupContextE'/>
<fun r='_ZNK2OT7RuleSet6subsetEP19hb_subset_context_tPK8hb_map_tS5_'/>
<fun r='_ZNK2OT7RuleSet8sanitizeEP21hb_sanitize_context_t'/>
<mbr r='OT::RuleSet::rule' t='Array16OfOffset16To&lt;OT::RuleSet::Rule&gt;'/>
<fun r='_ZNK2OT7RuleSet32_compiles_assertion_on_line_2118Ev'/>
<fun r='_ZNK2OT7RuleSet32_instance_assertion_on_line_2118Ev'/>
<smbr r='OT::RuleSet::null_size' t='const unsigned int'/>
<smbr r='OT::RuleSet::min_size' t='const unsigned int'/>
