<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3384' c='_ZNK2OT21ChainContextFormat2_510intersectsEPK8hb_set_t'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3424' c='_ZNK2OT21ChainContextFormat2_57closureEPNS_20hb_closure_context_tE'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3457' c='_ZNK2OT21ChainContextFormat2_515closure_lookupsEPNS_28hb_closure_lookups_context_tE'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3485' c='_ZNK2OT21ChainContextFormat2_514collect_glyphsEPNS_27hb_collect_glyphs_context_tE'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3498' u='r' c='_ZNK2OT21ChainContextFormat2_511would_applyEPNS_24hb_would_apply_context_tE'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3512' u='r' c='_ZNK2OT21ChainContextFormat2_510cache_costEv'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3566' u='r' c='_ZNK2OT21ChainContextFormat2_55applyEPNS_21hb_ot_apply_context_tEb'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3603' c='_ZNK2OT21ChainContextFormat2_56subsetEP19hb_subset_context_t'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3644' u='c' c='_ZNK2OT21ChainContextFormat2_58sanitizeEP21hb_sanitize_context_t'/>
<dec f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3665' type='Array16Of&lt;typename Types::template OffsetTo&lt;OT::ChainContextFormat2_5::ChainRuleSet&gt;&gt;'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3668' c='_ZNK2OT21ChainContextFormat2_532_compiles_assertion_on_line_3668Ev'/>
<use f='qtbase-6.5.0/src/3rdparty/harfbuzz-ng/src/hb-ot-layout-gsubgpos.hh' l='3668' u='r' c='_ZNK2OT21ChainContextFormat2_532_instance_assertion_on_line_3668Ev'/>
