<dec f='qtbase-6.5.0/src/corelib/animation/qabstractanimation_p.h' l='106' type='QElapsedTimer'/>
<use f='qtbase-6.5.0/src/corelib/animation/qabstractanimation.cpp' l='807' u='m' c='_ZN16QAnimationDriver5startEv'/>
<use f='qtbase-6.5.0/src/corelib/animation/qabstractanimation.cpp' l='832' u='m' c='_ZNK16QAnimationDriver7elapsedEv'/>
<offset>960</offset>
