<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.h' l='137' u='r' c='_ZN10QCborValueD1Ev'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.h' l='144' u='w' c='_ZN10QCborValueC1EOS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.h' l='144' u='a' c='_ZN10QCborValueC1EOS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.h' l='153' u='a' c='_ZN10QCborValue4swapERS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.h' l='153' u='a' c='_ZN10QCborValue4swapERS_'/>
<dec f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.h' l='268' type='QCborContainerPrivate *'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.h' l='439' u='w' c='_ZN13QCborValueRefaSEO10QCborValue'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborarray.h' l='252' u='w' c='_ZN10QCborValueC1EO10QCborArray'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcbormap.h' l='318' u='w' c='_ZN10QCborValueC1EO8QCborMap'/>
<offset>64</offset>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='166' u='r' c='_ZN21QCborContainerPrivate18replaceAt_internalERN6QtCbor7ElementERK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='269' u='w' c='_ZN21QCborContainerPrivate10resetValueER10QCborValue'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='277' u='w' c='_ZN21QCborContainerPrivate9makeValueEN10QCborValue4TypeExPS_NS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='319' u='r' c='_ZN21QCborContainerPrivate16elementFromValueERK10QCborValue'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='320' u='r' c='_ZN21QCborContainerPrivate16elementFromValueERK10QCborValue'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='325' u='r' c='_ZN21QCborContainerPrivate16elementFromValueERK10QCborValue'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='326' u='r' c='_ZN21QCborContainerPrivate16elementFromValueERK10QCborValue'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='375' u='r' c='_ZNK21QCborContainerPrivate14compareElementExRK10QCborValue'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='406' u='r' c='_ZN21QCborContainerPrivate14findCborMapKeyERK10QCborValueT_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='407' u='r' c='_ZN21QCborContainerPrivate14findCborMapKeyERK10QCborValueT_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='408' u='r' c='_ZN21QCborContainerPrivate14findCborMapKeyERK10QCborValueT_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='409' u='r' c='_ZN21QCborContainerPrivate14findCborMapKeyERK10QCborValueT_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='994' u='r' c='_ZN21QCborContainerPrivate17replaceAt_complexERN6QtCbor7ElementERK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1003' u='r' c='_ZN21QCborContainerPrivate17replaceAt_complexERN6QtCbor7ElementERK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1012' u='r' c='_ZN21QCborContainerPrivate17replaceAt_complexERN6QtCbor7ElementERK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1015' u='r' c='_ZN21QCborContainerPrivate17replaceAt_complexERN6QtCbor7ElementERK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1016' u='r' c='_ZN21QCborContainerPrivate17replaceAt_complexERN6QtCbor7ElementERK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1023' u='r' c='_ZN21QCborContainerPrivate17replaceAt_complexERN6QtCbor7ElementERK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1323' u='r' c='_ZNK10QCborValue7compareERKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1323' u='r' c='_ZNK10QCborValue7compareERKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1716' u='w' c='_ZN10QCborValueC1ERK10QByteArray'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1718' u='r' c='_ZN10QCborValueC1ERK10QByteArray'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1719' u='r' c='_ZN10QCborValueC1ERK10QByteArray'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1737' u='w' c='_ZN10QCborValueC1E11QStringView'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1739' u='r' c='_ZN10QCborValueC1E11QStringView'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1740' u='r' c='_ZN10QCborValueC1E11QStringView'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1752' u='w' c='_ZN10QCborValueC1E17QLatin1StringView'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1754' u='r' c='_ZN10QCborValueC1E17QLatin1StringView'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1755' u='r' c='_ZN10QCborValueC1E17QLatin1StringView'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1768' u='w' c='_ZN10QCborValueC1ERK10QCborArray'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1770' u='r' c='_ZN10QCborValueC1ERK10QCborArray'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1771' u='r' c='_ZN10QCborValueC1ERK10QCborArray'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1784' u='w' c='_ZN10QCborValueC1ERK8QCborMap'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1786' u='r' c='_ZN10QCborValueC1ERK8QCborMap'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1787' u='r' c='_ZN10QCborValueC1ERK8QCborMap'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1801' u='w' c='_ZN10QCborValueC1E8QCborTagRKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1803' u='r' c='_ZN10QCborValueC1E8QCborTagRKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1804' u='r' c='_ZN10QCborValueC1E8QCborTagRKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1805' u='r' c='_ZN10QCborValueC1E8QCborTagRKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1806' u='r' c='_ZN10QCborValueC1E8QCborTagRKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1813' u='w' c='_ZN10QCborValueC1ERKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1813' u='r' c='_ZN10QCborValueC1ERKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1815' u='r' c='_ZN10QCborValueC1ERKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1816' u='r' c='_ZN10QCborValueC1ERKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1837' u='r' c='_ZN10QCborValueC1ERK9QDateTime'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1900' u='r' c='_ZN10QCborValue7disposeEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1909' u='a' c='_ZN10QCborValueaSERKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1909' u='r' c='_ZN10QCborValueaSERKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1926' u='r' c='_ZNK10QCborValue3tagE8QCborTag'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1926' u='r' c='_ZNK10QCborValue3tagE8QCborTag'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1927' u='r' c='_ZNK10QCborValue3tagE8QCborTag'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1942' u='r' c='_ZNK10QCborValue11taggedValueERKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1942' u='r' c='_ZNK10QCborValue11taggedValueERKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1943' u='r' c='_ZNK10QCborValue11taggedValueERKS_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1957' u='r' c='_ZNK10QCborValue11toByteArrayERK10QByteArray'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1961' u='r' c='_ZNK10QCborValue11toByteArrayERK10QByteArray'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1975' u='r' c='_ZNK10QCborValue8toStringERK7QString'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1979' u='r' c='_ZNK10QCborValue8toStringERK7QString'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1993' u='r' c='_ZNK10QCborValue10toDateTimeERK9QDateTime'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1993' u='r' c='_ZNK10QCborValue10toDateTimeERK9QDateTime'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1997' u='r' c='_ZNK10QCborValue10toDateTimeERK9QDateTime'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2002' u='r' c='_ZNK10QCborValue10toDateTimeERK9QDateTime'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2107' u='r' c='_ZNK10QCborValue7toArrayERK10QCborArray'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2109' u='r' c='_ZNK10QCborValue7toArrayERK10QCborArray'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2150' u='r' c='_ZNK10QCborValue5toMapERK8QCborMap'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2152' u='r' c='_ZNK10QCborValue5toMapERK8QCborMap'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2206' u='r' c='_ZNK10QCborValueixEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2206' u='r' c='_ZNK10QCborValueixEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2207' u='r' c='_ZNK10QCborValueixEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2280' u='a' c='_ZN21QCborContainerPrivate15findOrAddMapKeyER10QCborValueT_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2286' c='_ZN21QCborContainerPrivate15findOrAddMapKeyER10QCborValueT_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2287' u='a' c='_ZN21QCborContainerPrivate15findOrAddMapKeyER10QCborValueT_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2368' u='r' c='_ZN10QCborValueixEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2369' u='w' c='_ZN10QCborValueixEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2369' u='r' c='_ZN10QCborValueixEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2370' u='r' c='_ZN10QCborValueixEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2559' u='r' c='_ZNK10QCborValue6toCborER17QCborStreamWriter6QFlagsINS_14EncodingOptionEE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2560' u='r' c='_ZNK10QCborValue6toCborER17QCborStreamWriter6QFlagsINS_14EncodingOptionEE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2561' u='r' c='_ZNK10QCborValue6toCborER17QCborStreamWriter6QFlagsINS_14EncodingOptionEE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjson_p.h' l='175' u='r' c='_ZN12QJsonPrivate5Value9containerERK10QCborValue'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsoncbor.cpp' l='351' u='r' c='_ZNK10QCborValue11toJsonValueEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsoncbor.cpp' l='352' u='r' c='_ZNK10QCborValue11toJsonValueEv'/>
