<dec f='qtbase-6.5.0/src/widgets/widgets/qcombobox_p.h' l='374' type='QComboBoxPrivateContainer *'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='399' u='r' c='_ZN16QComboBoxPrivate18adjustComboBoxSizeEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='411' u='r' c='_ZN16QComboBoxPrivate21updateLayoutDirectionEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='412' u='r' c='_ZN16QComboBoxPrivate21updateLayoutDirectionEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1031' u='r' c='_ZN16QComboBoxPrivate13viewContainerEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1032' u='r' c='_ZN16QComboBoxPrivate13viewContainerEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1035' u='w' c='_ZN16QComboBoxPrivate13viewContainerEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1036' u='r' c='_ZN16QComboBoxPrivate13viewContainerEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1037' u='r' c='_ZN16QComboBoxPrivate13viewContainerEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1041' u='r' c='_ZN16QComboBoxPrivate13viewContainerEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1043' u='r' c='_ZN16QComboBoxPrivate13viewContainerEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1046' u='r' c='_ZN16QComboBoxPrivate13viewContainerEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1047' u='r' c='_ZN16QComboBoxPrivate13viewContainerEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1142' u='r' c='_ZN16QComboBoxPrivate36updateViewContainerPaletteAndOpacityEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1151' u='r' c='_ZN16QComboBoxPrivate36updateViewContainerPaletteAndOpacityEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1152' u='r' c='_ZN16QComboBoxPrivate36updateViewContainerPaletteAndOpacityEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1156' u='r' c='_ZN16QComboBoxPrivate36updateViewContainerPaletteAndOpacityEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1157' u='r' c='_ZN16QComboBoxPrivate36updateViewContainerPaletteAndOpacityEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1209' u='r' c='_ZNK9QComboBox15initStyleOptionEP20QStyleOptionComboBox'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='1209' u='r' c='_ZNK9QComboBox15initStyleOptionEP20QStyleOptionComboBox'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2035' u='r' c='_ZN9QComboBox8setModelEP18QAbstractItemModel'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2036' u='r' c='_ZN9QComboBox8setModelEP18QAbstractItemModel'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2037' u='r' c='_ZN9QComboBox8setModelEP18QAbstractItemModel'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2793' u='r' c='_ZN9QComboBox9hidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2793' u='r' c='_ZN9QComboBox9hidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2799' u='r' c='_ZN9QComboBox9hidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2800' u='r' c='_ZN9QComboBox9hidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2804' u='r' c='_ZN9QComboBox9hidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2806' u='r' c='_ZN9QComboBox9hidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2807' u='r' c='_ZN9QComboBox9hidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2811' u='r' c='_ZN9QComboBox9hidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2813' u='r' c='_ZN9QComboBox9hidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2814' u='r' c='_ZN9QComboBox9hidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2816' u='r' c='_ZN9QComboBox9hidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2831' u='r' c='_ZN16QComboBoxPrivate11doHidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2831' u='r' c='_ZN16QComboBoxPrivate11doHidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2832' u='r' c='_ZN16QComboBoxPrivate11doHidePopupEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2914' u='r' c='_ZN9QComboBox11changeEventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='2915' u='r' c='_ZN9QComboBox11changeEventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='3220' u='r' c='_ZN9QComboBox13keyPressEventEP9QKeyEvent'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox.cpp' l='3220' u='r' c='_ZN9QComboBox13keyPressEventEP9QKeyEvent'/>
<offset>4736</offset>
