<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox_p.h' l='113' u='m' c='_ZN24QComboBoxPrivateScroller9stopTimerEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox_p.h' l='117' u='m' c='_ZN24QComboBoxPrivateScroller10startTimerEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qcombobox_p.h' l='129' u='m' c='_ZN24QComboBoxPrivateScroller10timerEventEP11QTimerEvent'/>
<dec f='qtbase-6.5.0/src/widgets/widgets/qcombobox_p.h' l='173' type='QBasicTimer'/>
<offset>352</offset>
