<def f='qtbase-6.5.0/src/gui/text/qcssparser_p.h' l='273' ll='279'/>
<use f='qtbase-6.5.0/src/gui/painting/qcssutil_p.h' l='30' c='_Z9qDrawEdgeP8QPainterddddddN4QCss4EdgeENS1_11BorderStyleE6QBrush'/>
<use f='qtbase-6.5.0/src/gui/painting/qcssutil_p.h' l='34' c='_Z19qDrawRoundedCornersP8QPainterddddRK6QSizeFS3_N4QCss4EdgeENS4_11BorderStyleE6QBrush'/>
<use f='qtbase-6.5.0/src/gui/painting/qcssutil.cpp' l='46' c='_Z19qDrawRoundedCornersP8QPainterddddRK6QSizeFS3_N4QCss4EdgeENS4_11BorderStyleE6QBrush'/>
<use f='qtbase-6.5.0/src/gui/painting/qcssutil.cpp' l='150' c='_Z9qDrawEdgeP8QPainterddddddN4QCss4EdgeENS1_11BorderStyleE6QBrush'/>
<use f='qtbase-6.5.0/src/gui/painting/qcssutil.cpp' l='296' c='_ZL10paintsOverPKN4QCss11BorderStyleEPK6QBrushNS_4EdgeES6_'/>
<use f='qtbase-6.5.0/src/gui/painting/qcssutil.cpp' l='296' c='_ZL10paintsOverPKN4QCss11BorderStyleEPK6QBrushNS_4EdgeES6_'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='137' c='_ZN8EdgeDataC1EdRK14QTextTableCellN4QCss4EdgeENS_9EdgeClassE'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='159'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='165' c='_ZL12axisEdgeDataP10QTextTablePK14QTextTableDataRK14QTextTableCellN4QCss4EdgeE'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='223' c='_ZNK14QTextTableData15cellBorderWidthEP10QTextTableRK14QTextTableCellN4QCss4EdgeE'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1202' c='_ZL21borderPropertyForEdgeN4QCss4EdgeE'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1218' c='_ZL26borderStylePropertyForEdgeN4QCss4EdgeE'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1234' c='_ZL12adjacentEdgeN4QCss4EdgeE'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1234' c='_ZL12adjacentEdgeN4QCss4EdgeE'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1250' c='_ZL10isSameAxisN4QCss4EdgeES0_'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1250' c='_ZL10isSameAxisN4QCss4EdgeES0_'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1255' c='_ZL14isVerticalAxisN4QCss4EdgeE'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1261' c='_ZL12adjacentCellP10QTextTableRK14QTextTableCellN4QCss4EdgeE'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1306' c='_ZL10sharesAxisRK14QTextTableCellN4QCss4EdgeES1_S3_'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1307' c='_ZL10sharesAxisRK14QTextTableCellN4QCss4EdgeES1_S3_'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1333' c='_ZL12cellEdgeDataP10QTextTablePK14QTextTableDataRK14QTextTableCellN4QCss4EdgeE'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1371' c='_ZL12axisEdgeDataP10QTextTablePK14QTextTableDataRK14QTextTableCellN4QCss4EdgeE'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1423' c='_ZL15checkJoinedEdgeP10QTextTablePK14QTextTableDataRK14QTextTableCellN4QCss4EdgeERK8EdgeDatabPS9_SC_'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1491' c='_ZL27prioritizedEdgeAnchorOffsetPK26QTextDocumentLayoutPrivateP10QTextTablePK14QTextTableDataRK14QTextTableCellRK8EdgeDataN4QCss4EdgeEbb'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='1563' c='_ZL14drawCellBorderPK26QTextDocumentLayoutPrivateP8QPainterP10QTextTablePK14QTextTableDataRK14QTextTableCellRK6QRectFN4QCss4EdgeEibbb'/>
<use f='qtbase-6.5.0/src/gui/text/qtextdocumentlayout.cpp' l='2347' c='_ZL25findWidestOutermostBorderP10QTextTableP14QTextTableDataRK14QTextTableCellN4QCss4EdgeEPd'/>
