<dec f='qtbase-6.5.0/src/dbus/qdbusconnection_p.h' l='101' type='QString'/>
<offset>0</offset>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='1331' u='w' c='_ZN22QDBusConnectionPrivate11prepareHookERNS_10SignalHookER7QStringRKS2_S5_S5_S5_RKNS_13ArgMatchRulesEP7QObjectPKcib'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='1613' u='m' c='_ZN22QDBusConnectionPrivate12handleSignalERK7QStringRK12QDBusMessage'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='1614' u='r' c='_ZN22QDBusConnectionPrivate12handleSignalERK7QStringRK12QDBusMessage'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='1614' u='r' c='_ZN22QDBusConnectionPrivate12handleSignalERK7QStringRK12QDBusMessage'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='1684' u='m' c='_ZN22QDBusConnectionPrivate25watchForDBusDisconnectionEv'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='1821' u='w' c='_ZN22QDBusConnectionPrivate13setConnectionEP14DBusConnectionRK18QDBusErrorInternal'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='2259' u='r' c='_ZN22QDBusConnectionPrivate13addSignalHookERK7QStringRKNS_10SignalHookE'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='2259' u='r' c='_ZN22QDBusConnectionPrivate13addSignalHookERK7QStringRKNS_10SignalHookE'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='2290' u='r' c='_ZN22QDBusConnectionPrivate13addSignalHookERK7QStringRKNS_10SignalHookE'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='2291' u='r' c='_ZN22QDBusConnectionPrivate13addSignalHookERK7QStringRKNS_10SignalHookE'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='2295' u='r' c='_ZN22QDBusConnectionPrivate13addSignalHookERK7QStringRKNS_10SignalHookE'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='2300' u='r' c='_ZN22QDBusConnectionPrivate13addSignalHookERK7QStringRKNS_10SignalHookE'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='2301' u='r' c='_ZN22QDBusConnectionPrivate13addSignalHookERK7QStringRKNS_10SignalHookE'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='2351' u='r' c='_ZN22QDBusConnectionPrivate16removeSignalHookERK7QStringRKNS_10SignalHookE'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='2351' u='r' c='_ZN22QDBusConnectionPrivate16removeSignalHookERK7QStringRKNS_10SignalHookE'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='2396' u='r' c='_ZN22QDBusConnectionPrivate22removeSignalHookNoLockEN10QMultiHashI7QStringNS_10SignalHookEE8iteratorE'/>
<use f='qtbase-6.5.0/src/dbus/qdbusintegrator.cpp' l='2401' u='r' c='_ZN22QDBusConnectionPrivate22removeSignalHookNoLockEN10QMultiHashI7QStringNS_10SignalHookEE8iteratorE'/>
