<dec f='qtbase-6.5.0/src/dbus/qdbusintrospection_p.h' l='115' type='QString'/>
<offset>64</offset>
<use f='qtbase-6.5.0/src/dbus/qdbusxmlparser.cpp' l='315' u='w' c='_ZN14QDBusXmlParserC1ERK7QStringS2_S2_'/>
