<dec f='qtbase-6.5.0/src/dbus/qdbusmessage_p.h' l='42' type='QString'/>
<offset>192</offset>
<use f='qtbase-6.5.0/src/dbus/qdbusmessage.cpp' l='97' u='r' c='_ZN19QDBusMessagePrivate13toDBusMessageERK12QDBusMessage6QFlagsIN15QDBusConnection20ConnectionCapabilityEEP10QDBusError'/>
<use f='qtbase-6.5.0/src/dbus/qdbusmessage.cpp' l='107' u='m' c='_ZN19QDBusMessagePrivate13toDBusMessageERK12QDBusMessage6QFlagsIN15QDBusConnection20ConnectionCapabilityEEP10QDBusError'/>
<use f='qtbase-6.5.0/src/dbus/qdbusmessage.cpp' l='136' u='r' c='_ZN19QDBusMessagePrivate13toDBusMessageERK12QDBusMessage6QFlagsIN15QDBusConnection20ConnectionCapabilityEEP10QDBusError'/>
<use f='qtbase-6.5.0/src/dbus/qdbusmessage.cpp' l='148' u='m' c='_ZN19QDBusMessagePrivate13toDBusMessageERK12QDBusMessage6QFlagsIN15QDBusConnection20ConnectionCapabilityEEP10QDBusError'/>
<use f='qtbase-6.5.0/src/dbus/qdbusmessage.cpp' l='214' u='w' c='_ZN19QDBusMessagePrivate15fromDBusMessageEP11DBusMessage6QFlagsIN15QDBusConnection20ConnectionCapabilityEE'/>
<use f='qtbase-6.5.0/src/dbus/qdbusmessage.cpp' l='264' u='m' c='_ZN19QDBusMessagePrivate9makeLocalERK22QDBusConnectionPrivateRK12QDBusMessage'/>
<use f='qtbase-6.5.0/src/dbus/qdbusmessage.cpp' l='265' u='w' c='_ZN19QDBusMessagePrivate9makeLocalERK22QDBusConnectionPrivateRK12QDBusMessage'/>
<use f='qtbase-6.5.0/src/dbus/qdbusmessage.cpp' l='283' u='w' c='_ZN19QDBusMessagePrivate9makeLocalERK22QDBusConnectionPrivateRK12QDBusMessage'/>
<use f='qtbase-6.5.0/src/dbus/qdbusmessage.cpp' l='373' u='w' c='_ZN12QDBusMessage20createTargetedSignalERK7QStringS2_S2_S2_'/>
<use f='qtbase-6.5.0/src/dbus/qdbusmessage.cpp' l='405' u='w' c='_ZN12QDBusMessage16createMethodCallERK7QStringS2_S2_S2_'/>
<use f='qtbase-6.5.0/src/dbus/qdbusmessage.cpp' l='562' u='r' c='_ZNK12QDBusMessage7serviceEv'/>
