<dec f='qtbase-6.5.0/src/dbus/qdbusabstractinterface_p.h' l='39' type='QString'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='78' u='w' c='_ZN29QDBusAbstractInterfacePrivateC1ERK7QStringS2_S2_RK15QDBusConnectionb'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='95' u='r' c='_ZN29QDBusAbstractInterfacePrivate17initOwnerTrackingEv'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='98' u='r' c='_ZN29QDBusAbstractInterfacePrivate17initOwnerTrackingEv'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='102' u='r' c='_ZN29QDBusAbstractInterfacePrivate17initOwnerTrackingEv'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='111' u='m' c='_ZNK29QDBusAbstractInterfacePrivate12canMakeCallsEv'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='112' u='r' c='_ZNK29QDBusAbstractInterfacePrivate12canMakeCallsEv'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='139' u='r' c='_ZNK29QDBusAbstractInterfacePrivate8propertyERK13QMetaPropertyPv'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='206' u='r' c='_ZN29QDBusAbstractInterfacePrivate11setPropertyERK13QMetaPropertyRK8QVariant'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='227' u='r' c='_ZN29QDBusAbstractInterfacePrivate22_q_serviceOwnerChangedERK7QStringS2_S2_'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='350' u='r' c='_ZNK22QDBusAbstractInterface7serviceEv'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='586' u='r' c='_ZN22QDBusAbstractInterface13connectNotifyERK11QMetaMethod'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='622' u='r' c='_ZN29QDBusAbstractInterfacePrivate22finishDisconnectNotifyEP22QDBusAbstractInterfacei'/>
<use f='qtbase-6.5.0/src/dbus/qdbusabstractinterface.cpp' l='632' u='r' c='_ZN29QDBusAbstractInterfacePrivate22finishDisconnectNotifyEP22QDBusAbstractInterfacei'/>
<offset>1024</offset>
<use f='qtbase-6.5.0/src/dbus/qdbusinterface.cpp' l='122' u='r' c='_ZN21QDBusInterfacePrivateC1ERK7QStringS2_S2_RK15QDBusConnection'/>
