<use f='qtbase-6.5.0/src/widgets/widgets/qdial.cpp' l='35' u='w' c='_ZN12QDialPrivateC1Ev'/>
<dec f='qtbase-6.5.0/src/widgets/widgets/qdial.cpp' l='38' type='qreal'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qdial.cpp' l='91' u='r' c='_ZNK5QDial15initStyleOptionEP18QStyleOptionSlider'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qdial.cpp' l='357' u='r' c='_ZNK5QDial9notchSizeEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qdial.cpp' l='365' u='w' c='_ZN5QDial14setNotchTargetEd'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qdial.cpp' l='383' u='r' c='_ZNK5QDial11notchTargetEv'/>
<offset>5056</offset>
