<dec f='qtbase-6.5.0/src/network/kernel/qdnslookup_p.h' l='188' type='QString'/>
<use f='qtbase-6.5.0/src/network/kernel/qdnslookup.cpp' l='833' u='r' c='_ZNK17QDnsServiceRecord6targetEv'/>
<offset>320</offset>
<use f='qtbase-6.5.0/src/network/kernel/qdnslookup_unix.cpp' l='345' u='w' c='_ZN18QDnsLookupRunnable5queryEiRK10QByteArrayRK12QHostAddressP15QDnsLookupReply'/>
