<use f='qtbase-6.5.0/src/gui/kernel/qdnd_p.h' l='41' u='w' c='_ZN12QDragPrivateC1Ev'/>
<dec f='qtbase-6.5.0/src/gui/kernel/qdnd_p.h' l='45' type='QObject *'/>
<use f='qtbase-6.5.0/src/gui/kernel/qdnd.cpp' l='51' u='w' c='_ZN12QDragManager16setCurrentTargetEP7QObjectb'/>
<use f='qtbase-6.5.0/src/gui/kernel/qdnd.cpp' l='78' u='w' c='_ZN12QDragManager4dragEP5QDrag'/>
<offset>1024</offset>
<use f='qtbase-6.5.0/src/gui/kernel/qdrag.cpp' l='78' u='w' c='_ZN5QDragC1EP7QObject'/>
<use f='qtbase-6.5.0/src/gui/kernel/qdrag.cpp' l='179' u='r' c='_ZNK5QDrag6targetEv'/>
