<use f='qtbase-6.5.0/src/gui/kernel/qeventpoint_p.h' l='45' u='r' c='_ZNK18QEventPointPrivateeqERKS_'/>
<use f='qtbase-6.5.0/src/gui/kernel/qeventpoint_p.h' l='45' u='r' c='_ZNK18QEventPointPrivateeqERKS_'/>
<dec f='qtbase-6.5.0/src/gui/kernel/qeventpoint_p.h' l='66' type='QPointer&lt;QObject&gt;'/>
<use f='qtbase-6.5.0/src/gui/kernel/qeventpoint_p.h' l='130' u='m' c='_ZN18QMutableEventPoint6targetERK11QEventPoint'/>
<use f='qtbase-6.5.0/src/gui/kernel/qeventpoint_p.h' l='132' u='w' c='_ZN18QMutableEventPoint9setTargetER11QEventPointP7QObject'/>
<offset>256</offset>
