<dec f='qtbase-6.5.0/src/corelib/kernel/qcoreevent.h' l='59' type='1'/>
<doc f='qtbase-6.5.0/src/corelib/kernel/qcoreevent.h' l='59'>// timer event</doc>
<use f='qtbase-6.5.0/src/corelib/kernel/qcoreevent.cpp' l='526' u='r' c='_ZN11QTimerEventC1Ei'/>
<doc f='qtbase-6.5.0/src/corelib/kernel/qcoreevent.cpp' l='199'>\value Timer                            Regular timer events (QTimerEvent).
    </doc>
<use f='qtbase-6.5.0/src/corelib/kernel/qobject.cpp' l='1367' c='_ZN7QObject5eventEP6QEvent'/>
<use f='qtbase-6.5.0/src/gui/kernel/qevent.cpp' l='3926' c='_ZL14eventClassNameN6QEvent4TypeE'/>
<use f='qtbase-6.5.0/src/gui/kernel/qevent.cpp' l='4218' c='_Zls6QDebugPK6QEvent'/>
<use f='qtbase-6.5.0/src/gui/kernel/qplatformwindow.cpp' l='451' u='r' c='_ZN15QPlatformWindow11windowEventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicsscenebsptreeindex.cpp' l='659' u='r' c='_ZN26QGraphicsSceneBspTreeIndex5eventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2402' c='_ZN11QHeaderView5eventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qapplication.cpp' l='1693' c='_ZN12QApplication5eventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qstandardgestures.cpp' l='469' u='r' c='_ZN28QTapAndHoldGestureRecognizer9recognizeEP8QGestureP7QObjectP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidgetwindow.cpp' l='185' c='_ZL26shouldBePropagatedToWidgetP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qmainwindowlayout_p.h' l='248' c='_ZN32QMainWindowLayoutSeparatorHelper11windowEventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qscrollbar.cpp' l='450' c='_ZN10QScrollBar5eventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qtoolbar.cpp' l='969' c='_ZN8QToolBar5eventEP6QEvent'/>
