<dec f='qtbase-6.5.0/src/corelib/plugin/qfactoryloader.cpp' l='109' type='QMap&lt;QString, QLibraryPrivate *&gt;'/>
<use f='qtbase-6.5.0/src/corelib/plugin/qfactoryloader.cpp' l='219' u='m' c='_ZN21QFactoryLoaderPrivate16updateSinglePathERK7QString'/>
<use f='qtbase-6.5.0/src/corelib/plugin/qfactoryloader.cpp' l='225' u='m' c='_ZN21QFactoryLoaderPrivate16updateSinglePathERK7QString'/>
<use f='qtbase-6.5.0/src/corelib/plugin/qfactoryloader.cpp' l='273' u='m' c='_ZNK14QFactoryLoader7libraryERK7QString'/>
<use f='qtbase-6.5.0/src/corelib/plugin/qfactoryloader.cpp' l='332' u='m' c='_ZN14QFactoryLoader18setExtraSearchPathERK7QString'/>
<offset>14784</offset>
