<dec f='qtbase-6.5.0/src/widgets/itemviews/qfileiconprovider_p.h' l='50' type='QIcon'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qfileiconprovider.cpp' l='71' u='m' c='_ZNK24QFileIconProviderPrivate7getIconEN6QStyle14StandardPixmapE'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qfileiconprovider.cpp' l='72' u='w' c='_ZNK24QFileIconProviderPrivate7getIconEN6QStyle14StandardPixmapE'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qfileiconprovider.cpp' l='73' u='r' c='_ZNK24QFileIconProviderPrivate7getIconEN6QStyle14StandardPixmapE'/>
<offset>960</offset>
