<dec f='qtbase-6.5.0/src/widgets/dialogs/qfontdialog_p.h' l='84' type='QGroupBox *'/>
<use f='qtbase-6.5.0/src/widgets/dialogs/qfontdialog.cpp' l='190' u='w' c='_ZN18QFontDialogPrivate4initEv'/>
<use f='qtbase-6.5.0/src/widgets/dialogs/qfontdialog.cpp' l='191' u='r' c='_ZN18QFontDialogPrivate4initEv'/>
<use f='qtbase-6.5.0/src/widgets/dialogs/qfontdialog.cpp' l='192' u='r' c='_ZN18QFontDialogPrivate4initEv'/>
<use f='qtbase-6.5.0/src/widgets/dialogs/qfontdialog.cpp' l='270' u='r' c='_ZN18QFontDialogPrivate4initEv'/>
<use f='qtbase-6.5.0/src/widgets/dialogs/qfontdialog.cpp' l='750' u='r' c='_ZN18QFontDialogPrivate18retranslateStringsEv'/>
<offset>6528</offset>
