<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview_p.h' l='49' u='w' c='_ZN18QHeaderViewPrivateC1Ev'/>
<dec f='qtbase-6.5.0/src/widgets/itemviews/qheaderview_p.h' l='244' type='int'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2547' u='w' c='_ZN11QHeaderView15mousePressEventEP11QMouseEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2621' u='r' c='_ZN11QHeaderView14mouseMoveEventEP11QMouseEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2624' u='w' c='_ZN11QHeaderView14mouseMoveEventEP11QMouseEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2626' u='w' c='_ZN11QHeaderView14mouseMoveEventEP11QMouseEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2629' u='w' c='_ZN11QHeaderView14mouseMoveEventEP11QMouseEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2631' u='w' c='_ZN11QHeaderView14mouseMoveEventEP11QMouseEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2633' u='w' c='_ZN11QHeaderView14mouseMoveEventEP11QMouseEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2635' u='r' c='_ZN11QHeaderView14mouseMoveEventEP11QMouseEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2636' u='r' c='_ZN11QHeaderView14mouseMoveEventEP11QMouseEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2703' u='r' c='_ZN11QHeaderView17mouseReleaseEventEP11QMouseEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2706' u='w' c='_ZN11QHeaderView17mouseReleaseEventEP11QMouseEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2853' u='w' c='_ZN11QHeaderView13viewportEventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='2970' u='r' c='_ZNK11QHeaderView23initStyleOptionForIndexEP18QStyleOptionHeaderi'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qheaderview.cpp' l='3412' u='r' c='_ZN18QHeaderViewPrivate22updateSectionIndicatorEii'/>
<offset>10464</offset>
