<dec f='qtbase-6.5.0/src/corelib/serialization/qjsonparser_p.h' l='50' type='QExplicitlySharedDataPointer&lt;QCborContainerPrivate&gt;'/>
<offset>256</offset>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='306' u='w' c='_ZN12QJsonPrivate6Parser5parseEP15QJsonParseError'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='309' u='m' c='_ZN12QJsonPrivate6Parser5parseEP15QJsonParseError'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='312' u='w' c='_ZN12QJsonPrivate6Parser5parseEP15QJsonParseError'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='315' u='m' c='_ZN12QJsonPrivate6Parser5parseEP15QJsonParseError'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='342' u='m' c='_ZN12QJsonPrivate6Parser5parseEP15QJsonParseError'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='464' u='m' c='_ZN12QJsonPrivate6Parser11parseObjectEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='465' u='w' c='_ZN12QJsonPrivate6Parser11parseObjectEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='488' u='m' c='_ZN12QJsonPrivate6Parser11parseObjectEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='489' u='m' c='_ZN12QJsonPrivate6Parser11parseObjectEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='542' u='m' c='_ZN12QJsonPrivate6Parser10parseArrayEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='543' u='w' c='_ZN12QJsonPrivate6Parser10parseArrayEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='559' u='m' c='_ZN12QJsonPrivate6Parser10parseArrayEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='559' u='m' c='_ZN12QJsonPrivate6Parser10parseArrayEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='585' u='m' c='_ZN12QJsonPrivate6Parser10parseValueEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='600' u='m' c='_ZN12QJsonPrivate6Parser10parseValueEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='616' u='m' c='_ZN12QJsonPrivate6Parser10parseValueEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='631' u='a' c='_ZN12QJsonPrivate6Parser10parseValueEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='639' u='a' c='_ZN12QJsonPrivate6Parser10parseValueEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='734' u='m' c='_ZN12QJsonPrivate6Parser11parseNumberEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='750' u='m' c='_ZN12QJsonPrivate6Parser11parseNumberEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='752' u='m' c='_ZN12QJsonPrivate6Parser11parseNumberEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='891' u='m' c='_ZN12QJsonPrivate6Parser11parseStringEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='893' u='m' c='_ZN12QJsonPrivate6Parser11parseStringEv'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='927' u='m' c='_ZN12QJsonPrivate6Parser11parseStringEv'/>
