<use f='qtbase-6.5.0/src/widgets/widgets/qmenu_p.h' l='344' u='m' c='_ZN12QMenuPrivate10DelayState5startEiP7QAction'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qmenu_p.h' l='347' u='m' c='_ZN12QMenuPrivate10DelayState5startEiP7QAction'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qmenu_p.h' l='352' u='m' c='_ZN12QMenuPrivate10DelayState4stopEv'/>
<dec f='qtbase-6.5.0/src/widgets/widgets/qmenu_p.h' l='357' type='QBasicTimer'/>
<offset>128</offset>
<use f='qtbase-6.5.0/src/widgets/widgets/qmenu.cpp' l='829' u='m' c='_ZNK16QMenuSloppyState25hasParentActiveDelayTimerEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qmenu.cpp' l='2977' u='m' c='_ZN5QMenu5eventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qmenu.cpp' l='3478' u='m' c='_ZN5QMenu10timerEventEP11QTimerEvent'/>
