<dec f='qtbase-6.5.0/src/network/access/qnetworkaccesscache_p.h' l='80' type='QBasicTimer'/>
<offset>320</offset>
<use f='qtbase-6.5.0/src/network/access/qnetworkaccesscache.cpp' l='92' u='m' c='_ZN19QNetworkAccessCache5clearEv'/>
<use f='qtbase-6.5.0/src/network/access/qnetworkaccesscache.cpp' l='186' u='m' c='_ZN19QNetworkAccessCache11updateTimerEv'/>
<use f='qtbase-6.5.0/src/network/access/qnetworkaccesscache.cpp' l='200' u='m' c='_ZN19QNetworkAccessCache11updateTimerEv'/>
