<def f='qtbase-6.5.0/src/opengl/qopengltexture.h' l='25' ll='37'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.h' l='38' c='_Z20qt_getEnumMetaObjectN14QOpenGLTexture6TargetE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.h' l='38' c='_Z14qt_getEnumNameN14QOpenGLTexture6TargetE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.h' l='371' c='_ZN14QOpenGLTextureC1ENS_6TargetE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.h' l='375' c='_ZNK14QOpenGLTexture6targetEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.h' l='415' c='_ZNK14QOpenGLTexture17createTextureViewENS_6TargetENS_13TextureFormatEiiii'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture_p.h' l='43' c='_ZN21QOpenGLTexturePrivateC1EN14QOpenGLTexture6TargetEPS0_'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture_p.h' l='81' c='_ZNK21QOpenGLTexturePrivate17createTextureViewEN14QOpenGLTexture6TargetENS0_13TextureFormatEiiii'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture_p.h' l='101'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='22' c='_ZN21QOpenGLTexturePrivateC1EN14QOpenGLTexture6TargetEPS0_'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='437' c='_ZL26isTextureTargetMultisampleN14QOpenGLTexture6TargetE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1836' c='_ZNK21QOpenGLTexturePrivate17createTextureViewEN14QOpenGLTexture6TargetENS0_13TextureFormatEiiii'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='2445' c='_ZN14QOpenGLTextureC1ENS_6TargetE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='2475' c='_ZNK14QOpenGLTexture6targetEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='3344' c='_ZNK14QOpenGLTexture17createTextureViewENS_6TargetENS_13TextureFormatEiiii'/>
<doc f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='2087'>/*!
    \enum QOpenGLTexture::Target
    This enum defines the texture target of a QOpenGLTexture object.
    For more information on creating array textures, see \l{Array Texture}.

    \value Target1D A 1-dimensional texture.
           Equivalent to GL_TEXTURE_1D.
    \value Target1DArray An array of 1-dimensional textures.
           Equivalent to GL_TEXTURE_1D_ARRAY
    \value Target2D A 2-dimensional texture.
           Equivalent to GL_TEXTURE_2D
    \value Target2DArray An array of 2-dimensional textures.
           Equivalent to GL_TEXTURE_2D_ARRAY
    \value Target3D A 3-dimensional texture.
           Equivalent to GL_TEXTURE_3D
    \value TargetCubeMap A cubemap texture.
           Equivalent to GL_TEXTURE_CUBE_MAP
    \value TargetCubeMapArray An array of cubemap textures.
           Equivalent to GL_TEXTURE_CUBE_MAP_ARRAY
    \value Target2DMultisample A 2-dimensional texture with multisample support.
           Equivalent to GL_TEXTURE_2D_MULTISAMPLE
    \value Target2DMultisampleArray An array of 2-dimensional textures with multisample support.
           Equivalent to GL_TEXTURE_2D_MULTISAMPLE_ARRAY
    \value TargetRectangle A rectangular 2-dimensional texture.
           Equivalent to GL_TEXTURE_RECTANGLE
    \value TargetBuffer A texture with data from an OpenGL buffer object.
           Equivalent to GL_TEXTURE_BUFFER
*/</doc>
