<dec f='qtbase-6.5.0/src/opengl/qopengltexture_p.h' l='101' type='QOpenGLTexture::Target'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='26' u='w' c='_ZN21QOpenGLTexturePrivateC1EN14QOpenGLTexture6TargetEPS0_'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='55' u='r' c='_ZN21QOpenGLTexturePrivateC1EN14QOpenGLTexture6TargetEPS0_'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='98' u='r' c='_ZN21QOpenGLTexturePrivateC1EN14QOpenGLTexture6TargetEPS0_'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='207' u='r' c='_ZN21QOpenGLTexturePrivate7destroyEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='213' u='r' c='_ZN21QOpenGLTexturePrivate4bindEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='223' u='r' c='_ZN21QOpenGLTexturePrivate4bindEjN14QOpenGLTexture16TextureUnitResetE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='231' u='r' c='_ZN21QOpenGLTexturePrivate7releaseEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='241' u='r' c='_ZN21QOpenGLTexturePrivate7releaseEjN14QOpenGLTexture16TextureUnitResetE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='270' u='r' c='_ZNK21QOpenGLTexturePrivate17evaluateMipLevelsEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='467' u='r' c='_ZNK21QOpenGLTexturePrivate23isUsingImmutableStorageEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1093' u='r' c='_ZN21QOpenGLTexturePrivate22allocateMutableStorageEN14QOpenGLTexture11PixelFormatENS0_9PixelTypeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1102' u='r' c='_ZN21QOpenGLTexturePrivate22allocateMutableStorageEN14QOpenGLTexture11PixelFormatENS0_9PixelTypeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1116' u='r' c='_ZN21QOpenGLTexturePrivate22allocateMutableStorageEN14QOpenGLTexture11PixelFormatENS0_9PixelTypeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1130' u='r' c='_ZN21QOpenGLTexturePrivate22allocateMutableStorageEN14QOpenGLTexture11PixelFormatENS0_9PixelTypeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1163' u='r' c='_ZN21QOpenGLTexturePrivate22allocateMutableStorageEN14QOpenGLTexture11PixelFormatENS0_9PixelTypeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1179' u='r' c='_ZN21QOpenGLTexturePrivate22allocateMutableStorageEN14QOpenGLTexture11PixelFormatENS0_9PixelTypeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1194' u='r' c='_ZN21QOpenGLTexturePrivate22allocateMutableStorageEN14QOpenGLTexture11PixelFormatENS0_9PixelTypeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1208' u='r' c='_ZN21QOpenGLTexturePrivate22allocateMutableStorageEN14QOpenGLTexture11PixelFormatENS0_9PixelTypeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1220' u='r' c='_ZN21QOpenGLTexturePrivate22allocateMutableStorageEN14QOpenGLTexture11PixelFormatENS0_9PixelTypeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1235' u='r' c='_ZN21QOpenGLTexturePrivate24allocateImmutableStorageEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1243' u='r' c='_ZN21QOpenGLTexturePrivate24allocateImmutableStorageEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1254' u='r' c='_ZN21QOpenGLTexturePrivate24allocateImmutableStorageEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1265' u='r' c='_ZN21QOpenGLTexturePrivate24allocateImmutableStorageEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1271' u='r' c='_ZN21QOpenGLTexturePrivate24allocateImmutableStorageEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1282' u='r' c='_ZN21QOpenGLTexturePrivate24allocateImmutableStorageEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1292' u='r' c='_ZN21QOpenGLTexturePrivate24allocateImmutableStorageEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1302' u='r' c='_ZN21QOpenGLTexturePrivate24allocateImmutableStorageEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1314' u='r' c='_ZN21QOpenGLTexturePrivate24allocateImmutableStorageEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1331' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1336' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1343' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1354' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1363' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1374' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1395' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1409' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1436' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiiiiiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1445' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiiiiiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1456' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiiiiiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1469' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiiiiiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1479' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiiiiiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1488' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiiiiiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1510' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiiiiiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1525' u='r' c='_ZN21QOpenGLTexturePrivate7setDataEiiiiiiiiiN14QOpenGLTexture11CubeMapFaceENS0_11PixelFormatENS0_9PixelTypeEPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1559' u='r' c='_ZN21QOpenGLTexturePrivate17setCompressedDataEiiiN14QOpenGLTexture11CubeMapFaceEiPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1565' u='r' c='_ZN21QOpenGLTexturePrivate17setCompressedDataEiiiN14QOpenGLTexture11CubeMapFaceEiPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1570' u='r' c='_ZN21QOpenGLTexturePrivate17setCompressedDataEiiiN14QOpenGLTexture11CubeMapFaceEiPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1579' u='r' c='_ZN21QOpenGLTexturePrivate17setCompressedDataEiiiN14QOpenGLTexture11CubeMapFaceEiPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1592' u='r' c='_ZN21QOpenGLTexturePrivate17setCompressedDataEiiiN14QOpenGLTexture11CubeMapFaceEiPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1598' u='r' c='_ZN21QOpenGLTexturePrivate17setCompressedDataEiiiN14QOpenGLTexture11CubeMapFaceEiPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1609' u='r' c='_ZN21QOpenGLTexturePrivate17setCompressedDataEiiiN14QOpenGLTexture11CubeMapFaceEiPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1622' u='r' c='_ZN21QOpenGLTexturePrivate17setCompressedDataEiiiN14QOpenGLTexture11CubeMapFaceEiPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1629' u='r' c='_ZN21QOpenGLTexturePrivate17setCompressedDataEiiiN14QOpenGLTexture11CubeMapFaceEiPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1660' u='r' c='_ZN21QOpenGLTexturePrivate17setCompressedDataEiiiN14QOpenGLTexture11CubeMapFaceEiPKvPK27QOpenGLPixelTransferOptions'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1688' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1693' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1704' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1705' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1710' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1711' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1712' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1719' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture19CoordinateDirectionENS0_8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1726' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture19CoordinateDirectionENS0_8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1746' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture19CoordinateDirectionENS0_8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1751' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture19CoordinateDirectionENS0_8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1764' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture19CoordinateDirectionENS0_8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1769' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture19CoordinateDirectionENS0_8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1774' u='r' c='_ZN21QOpenGLTexturePrivate11setWrapModeEN14QOpenGLTexture19CoordinateDirectionENS0_8WrapModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1783' u='r' c='_ZNK21QOpenGLTexturePrivate8wrapModeEN14QOpenGLTexture19CoordinateDirectionE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='1845' u='r' c='_ZNK21QOpenGLTexturePrivate17createTextureViewEN14QOpenGLTexture6TargetENS0_13TextureFormatEiiii'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='2478' u='r' c='_ZNK14QOpenGLTexture6targetEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='2909' u='r' c='_ZN14QOpenGLTexture7setSizeEiii'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='2912' u='r' c='_ZN14QOpenGLTexture7setSizeEiii'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='3001' u='r' c='_ZN14QOpenGLTexture12setMipLevelsEi'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='3065' u='r' c='_ZN14QOpenGLTexture9setLayersEi'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='3133' u='r' c='_ZN14QOpenGLTexture10setSamplesEi'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='3195' u='r' c='_ZN14QOpenGLTexture23setFixedSamplePositionsEb'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='3913' u='r' c='_ZN14QOpenGLTexture15setMipBaseLevelEi'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='3946' u='r' c='_ZN14QOpenGLTexture14setMipMaxLevelEi'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='3978' u='r' c='_ZN14QOpenGLTexture16setMipLevelRangeEii'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='3979' u='r' c='_ZN14QOpenGLTexture16setMipLevelRangeEii'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4040' u='r' c='_ZN14QOpenGLTexture15generateMipMapsEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4069' u='r' c='_ZN14QOpenGLTexture15generateMipMapsEib'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4099' u='r' c='_ZN14QOpenGLTexture14setSwizzleMaskENS_16SwizzleComponentENS_12SwizzleValueE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4132' u='r' c='_ZN14QOpenGLTexture14setSwizzleMaskENS_12SwizzleValueES0_S0_S0_'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4188' u='r' c='_ZN14QOpenGLTexture19setDepthStencilModeENS_16DepthStencilModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4244' u='r' c='_ZN14QOpenGLTexture21setComparisonFunctionENS_18ComparisonFunctionE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4287' u='r' c='_ZN14QOpenGLTexture17setComparisonModeENS_14ComparisonModeE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4316' u='r' c='_ZN14QOpenGLTexture21setMinificationFilterENS_6FilterE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4342' u='r' c='_ZN14QOpenGLTexture22setMagnificationFilterENS_6FilterE'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4371' u='r' c='_ZN14QOpenGLTexture16setMinMagFiltersENS_6FilterES0_'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4372' u='r' c='_ZN14QOpenGLTexture16setMinMagFiltersENS_6FilterES0_'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4403' u='r' c='_ZN14QOpenGLTexture20setMaximumAnisotropyEf'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4489' u='r' c='_ZN14QOpenGLTexture14setBorderColorEffff'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4522' u='r' c='_ZN14QOpenGLTexture14setBorderColorEiiii'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4557' u='r' c='_ZN14QOpenGLTexture14setBorderColorEjjjj'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4663' u='r' c='_ZN14QOpenGLTexture23setMinimumLevelOfDetailEf'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4700' u='r' c='_ZN14QOpenGLTexture23setMaximumLevelOfDetailEf'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4737' u='r' c='_ZN14QOpenGLTexture21setLevelOfDetailRangeEff'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4738' u='r' c='_ZN14QOpenGLTexture21setLevelOfDetailRangeEff'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4777' u='r' c='_ZN14QOpenGLTexture20setLevelofDetailBiasEf'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4805' u='r' c='_Zls6QDebugPK14QOpenGLTexture'/>
<use f='qtbase-6.5.0/src/opengl/qopengltexture.cpp' l='4808' u='r' c='_Zls6QDebugPK14QOpenGLTexture'/>
<offset>128</offset>
