<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='47' u='w' c='_ZN24QOpenGLTimerQueryPrivateC1Ev'/>
<dec f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='84' type='GLuint'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='91' u='r' c='_ZN24QOpenGLTimerQueryPrivate6createEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='124' u='a' c='_ZN24QOpenGLTimerQueryPrivate6createEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='125' u='r' c='_ZN24QOpenGLTimerQueryPrivate6createEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='130' u='r' c='_ZN24QOpenGLTimerQueryPrivate7destroyEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='133' u='a' c='_ZN24QOpenGLTimerQueryPrivate7destroyEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='134' u='w' c='_ZN24QOpenGLTimerQueryPrivate7destroyEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='150' u='r' c='_ZN24QOpenGLTimerQueryPrivate5beginEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='163' u='r' c='_ZN24QOpenGLTimerQueryPrivate15recordTimestampEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='189' u='r' c='_ZNK24QOpenGLTimerQueryPrivate17isResultAvailableEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='196' u='r' c='_ZNK24QOpenGLTimerQueryPrivate6resultEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='198' u='r' c='_ZNK24QOpenGLTimerQueryPrivate6resultEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='327' u='r' c='_ZNK17QOpenGLTimerQuery9isCreatedEv'/>
<use f='qtbase-6.5.0/src/opengl/qopengltimerquery.cpp' l='336' u='r' c='_ZNK17QOpenGLTimerQuery8objectIdEv'/>
<offset>1216</offset>
