<dec f='qtbase-6.5.0/src/opengl/qopenglframebufferobject_p.h' l='93' type='GLenum'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='497' u='w' c='_ZN31QOpenGLFramebufferObjectPrivate4initEP24QOpenGLFramebufferObjectRK5QSizeNS0_10AttachmentEjjib'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='509' u='r' c='_ZN31QOpenGLFramebufferObjectPrivate4initEP24QOpenGLFramebufferObjectRK5QSizeNS0_10AttachmentEjjib'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='536' u='r' c='_ZN31QOpenGLFramebufferObjectPrivate11initTextureEi'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='538' u='r' c='_ZN31QOpenGLFramebufferObjectPrivate11initTextureEi'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='539' u='r' c='_ZN31QOpenGLFramebufferObjectPrivate11initTextureEi'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='540' u='r' c='_ZN31QOpenGLFramebufferObjectPrivate11initTextureEi'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='541' u='r' c='_ZN31QOpenGLFramebufferObjectPrivate11initTextureEi'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='553' u='r' c='_ZN31QOpenGLFramebufferObjectPrivate11initTextureEi'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='563' u='r' c='_ZN31QOpenGLFramebufferObjectPrivate11initTextureEi'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='568' u='r' c='_ZN31QOpenGLFramebufferObjectPrivate11initTextureEi'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='571' u='r' c='_ZN31QOpenGLFramebufferObjectPrivate11initTextureEi'/>
<offset>192</offset>
