<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject_p.h' l='32' u='w' c='_ZN37QOpenGLFramebufferObjectFormatPrivateC1Ev'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject_p.h' l='51' u='w' c='_ZN37QOpenGLFramebufferObjectFormatPrivateC1EPKS_'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject_p.h' l='51' u='r' c='_ZN37QOpenGLFramebufferObjectFormatPrivateC1EPKS_'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject_p.h' l='60' u='r' c='_ZN37QOpenGLFramebufferObjectFormatPrivate6equalsEPKS_'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject_p.h' l='60' u='r' c='_ZN37QOpenGLFramebufferObjectFormatPrivate6equalsEPKS_'/>
<dec f='qtbase-6.5.0/src/opengl/qopenglframebufferobject_p.h' l='68' type='GLenum'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='329' u='w' c='_ZN30QOpenGLFramebufferObjectFormat16setTextureTargetEj'/>
<use f='qtbase-6.5.0/src/opengl/qopenglframebufferobject.cpp' l='341' u='r' c='_ZNK30QOpenGLFramebufferObjectFormat13textureTargetEv'/>
<offset>96</offset>
