<dec f='qtbase-6.5.0/src/corelib/io/qfilesystemwatcher_polling_p.h' l='84' type='QTimer'/>
<offset>256</offset>
<use f='qtbase-6.5.0/src/corelib/io/qfilesystemwatcher_polling.cpp' l='12' u='w' c='_ZN31QPollingFileSystemWatcherEngineC1EP7QObject'/>
<use f='qtbase-6.5.0/src/corelib/io/qfilesystemwatcher_polling.cpp' l='14' u='a' c='_ZN31QPollingFileSystemWatcherEngineC1EP7QObject'/>
<use f='qtbase-6.5.0/src/corelib/io/qfilesystemwatcher_polling.cpp' l='45' u='m' c='_ZN31QPollingFileSystemWatcherEngine8addPathsERK5QListI7QStringEPS2_S5_'/>
<use f='qtbase-6.5.0/src/corelib/io/qfilesystemwatcher_polling.cpp' l='46' u='m' c='_ZN31QPollingFileSystemWatcherEngine8addPathsERK5QListI7QStringEPS2_S5_'/>
<use f='qtbase-6.5.0/src/corelib/io/qfilesystemwatcher_polling.cpp' l='69' u='m' c='_ZN31QPollingFileSystemWatcherEngine11removePathsERK5QListI7QStringEPS2_S5_'/>
