<dec f='qtbase-6.5.0/src/corelib/io/qresource.cpp' l='277' type='bool'/>
<use f='qtbase-6.5.0/src/corelib/io/qresource.cpp' l='292' u='w' c='_ZN16QResourcePrivate5clearEv'/>
<use f='qtbase-6.5.0/src/corelib/io/qresource.cpp' l='312' u='w' c='_ZN16QResourcePrivate4loadERK7QString'/>
<use f='qtbase-6.5.0/src/corelib/io/qresource.cpp' l='313' u='r' c='_ZN16QResourcePrivate4loadERK7QString'/>
<use f='qtbase-6.5.0/src/corelib/io/qresource.cpp' l='322' u='r' c='_ZN16QResourcePrivate4loadERK7QString'/>
<use f='qtbase-6.5.0/src/corelib/io/qresource.cpp' l='329' u='w' c='_ZN16QResourcePrivate4loadERK7QString'/>
<use f='qtbase-6.5.0/src/corelib/io/qresource.cpp' l='369' u='r' c='_ZNK16QResourcePrivate14ensureChildrenEv'/>
<use f='qtbase-6.5.0/src/corelib/io/qresource.cpp' l='716' u='r' c='_ZNK9QResource5isDirEv'/>
<offset>1032</offset>
