<dec f='qtbase-6.5.0/src/widgets/util/qscroller_p.h' l='119' type='QObject *'/>
<use f='qtbase-6.5.0/src/widgets/util/qscroller.cpp' l='299' u='r' c='_ZNK9QScroller6targetEv'/>
<use f='qtbase-6.5.0/src/widgets/util/qscroller.cpp' l='466' u='r' c='_ZN9QScrollerD1Ev'/>
<use f='qtbase-6.5.0/src/widgets/util/qscroller.cpp' l='530' u='r' c='_ZNK9QScroller13pixelPerMeterEv'/>
<use f='qtbase-6.5.0/src/widgets/util/qscroller.cpp' l='845' u='w' c='_ZN16QScrollerPrivateC1EP9QScrollerP7QObject'/>
<use f='qtbase-6.5.0/src/widgets/util/qscroller.cpp' l='863' u='r' c='_ZN16QScrollerPrivateC1EP9QScrollerP7QObject'/>
<use f='qtbase-6.5.0/src/widgets/util/qscroller.cpp' l='1393' u='r' c='_ZN16QScrollerPrivate16prepareScrollingERK7QPointF'/>
<use f='qtbase-6.5.0/src/widgets/util/qscroller.cpp' l='1395' u='r' c='_ZN16QScrollerPrivate16prepareScrollingERK7QPointF'/>
<use f='qtbase-6.5.0/src/widgets/util/qscroller.cpp' l='1420' u='r' c='_ZN16QScrollerPrivate16prepareScrollingERK7QPointF'/>
<use f='qtbase-6.5.0/src/widgets/util/qscroller.cpp' l='1423' u='r' c='_ZN16QScrollerPrivate16prepareScrollingERK7QPointF'/>
<use f='qtbase-6.5.0/src/widgets/util/qscroller.cpp' l='1711' u='r' c='_ZN16QScrollerPrivate8setStateEN9QScroller5StateE'/>
<use f='qtbase-6.5.0/src/widgets/util/qscroller.cpp' l='1788' u='r' c='_ZN16QScrollerPrivate32setContentPositionHelperDraggingERK7QPointF'/>
<use f='qtbase-6.5.0/src/widgets/util/qscroller.cpp' l='1842' u='r' c='_ZN16QScrollerPrivate33setContentPositionHelperScrollingEv'/>
<offset>128</offset>
<doc f='qtbase-6.5.0/src/widgets/util/qscroller_p.h' l='118'>// non static</doc>
