<def f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='29' ll='37'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='38' c='_Z20qt_getEnumMetaObjectN11QSizePolicy6PolicyE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='38' c='_Z14qt_getEnumNameN11QSizePolicy6PolicyE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='62' c='_ZN11QSizePolicyC1ENS_6PolicyES0_NS_11ControlTypeE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='62' c='_ZN11QSizePolicyC1ENS_6PolicyES0_NS_11ControlTypeE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='66' c='_ZNK11QSizePolicy16horizontalPolicyEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='66' c='_ZNK11QSizePolicy16horizontalPolicyEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='67' c='_ZNK11QSizePolicy14verticalPolicyEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='67' c='_ZNK11QSizePolicy14verticalPolicyEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='70' c='_ZN11QSizePolicy19setHorizontalPolicyENS_6PolicyE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='71' c='_ZN11QSizePolicy17setVerticalPolicyENS_6PolicyE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='76' c='_ZNK11QSizePolicy19expandingDirectionsEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='77' c='_ZNK11QSizePolicy19expandingDirectionsEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='165' c='_ZorN11QSizePolicy6PolicyENS_10PolicyFlagE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='165' c='_ZanN11QSizePolicy6PolicyENS_10PolicyFlagE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.h' l='165' c='_ZeoN11QSizePolicy6PolicyENS_10PolicyFlagE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.h' l='523' c='_ZN7QWidget13setSizePolicyEN11QSizePolicy6PolicyES1_'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.h' l='523' c='_ZN7QWidget13setSizePolicyEN11QSizePolicy6PolicyES1_'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.h' l='909' c='_ZN7QWidget13setSizePolicyEN11QSizePolicy6PolicyES1_'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.h' l='909' c='_ZN7QWidget13setSizePolicyEN11QSizePolicy6PolicyES1_'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qlayoutitem.h' l='60' c='_ZN11QSpacerItemC1EiiN11QSizePolicy6PolicyES1_'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qlayoutitem.h' l='61' c='_ZN11QSpacerItemC1EiiN11QSizePolicy6PolicyES1_'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qlayoutitem.h' l='66' c='_ZN11QSpacerItem10changeSizeEiiN11QSizePolicy6PolicyES1_'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qlayoutitem.h' l='67' c='_ZN11QSpacerItem10changeSizeEiiN11QSizePolicy6PolicyES1_'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicslayoutitem.h' l='25' c='_ZN19QGraphicsLayoutItem13setSizePolicyEN11QSizePolicy6PolicyES1_NS0_11ControlTypeE'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicslayoutitem.h' l='25' c='_ZN19QGraphicsLayoutItem13setSizePolicyEN11QSizePolicy6PolicyES1_NS0_11ControlTypeE'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicsanchorlayout.h' l='28' c='_ZN15QGraphicsAnchor13setSizePolicyEN11QSizePolicy6PolicyE'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicsanchorlayout.h' l='29' c='_ZNK15QGraphicsAnchor10sizePolicyEv'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicsanchorlayout_p.h' l='322' c='_ZN22QGraphicsAnchorPrivate13setSizePolicyEN11QSizePolicy6PolicyE'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicsanchorlayout_p.h' l='331'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicsanchorlayout.cpp' l='135' c='_ZN15QGraphicsAnchor13setSizePolicyEN11QSizePolicy6PolicyE'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicsanchorlayout.cpp' l='141' c='_ZNK15QGraphicsAnchor10sizePolicyEv'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicsanchorlayout_p.cpp' l='46' c='_ZN22QGraphicsAnchorPrivate13setSizePolicyEN11QSizePolicy6PolicyE'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicsanchorlayout_p.cpp' l='95' c='_ZL15applySizePolicyN11QSizePolicy6PolicyEdddPdS1_S1_'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicsanchorlayout_p.cpp' l='144' c='_ZN22QtGraphicsAnchorLayout10AnchorData16refreshSizeHintsEPK16QLayoutStyleInfo'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicslayoutitem.cpp' l='434' c='_ZN19QGraphicsLayoutItem13setSizePolicyEN11QSizePolicy6PolicyES1_NS0_11ControlTypeE'/>
<use f='qtbase-6.5.0/src/widgets/graphicsview/qgraphicslayoutitem.cpp' l='435' c='_ZN19QGraphicsLayoutItem13setSizePolicyEN11QSizePolicy6PolicyES1_NS0_11ControlTypeE'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qmenu_p.h' l='50' c='_ZL4pickN2Qt11OrientationERK11QSizePolicy'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qlayout_p.h' l='35'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qlayout_p.h' l='35'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qlayout_p.h' l='46' c='_ZN14QLayoutPrivate16createSpacerItemEPK7QLayoutiiN11QSizePolicy6PolicyES4_'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qlayout_p.h' l='46' c='_ZN14QLayoutPrivate16createSpacerItemEPK7QLayoutiiN11QSizePolicy6PolicyES4_'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qlayout.cpp' l='157' c='_ZN14QLayoutPrivate16createSpacerItemEPK7QLayoutiiN11QSizePolicy6PolicyES4_'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qlayout.cpp' l='157' c='_ZN14QLayoutPrivate16createSpacerItemEPK7QLayoutiiN11QSizePolicy6PolicyES4_'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qlayoutitem.cpp' l='241' c='_ZN11QSpacerItem10changeSizeEiiN11QSizePolicy6PolicyES1_'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qlayoutitem.cpp' l='242' c='_ZN11QSpacerItem10changeSizeEiiN11QSizePolicy6PolicyES1_'/>
<doc f='qtbase-6.5.0/src/widgets/kernel/qsizepolicy.cpp' l='77'>/*!
    \enum QSizePolicy::Policy

    This enum describes the various per-dimension sizing types used
    when constructing a QSizePolicy.

    \value Fixed  The QWidget::sizeHint() is the only acceptable
        alternative, so the widget can never grow or shrink (e.g. the
        vertical direction of a push button).

    \value Minimum  The sizeHint() is minimal, and sufficient. The
        widget can be expanded, but there is no advantage to it being
        larger (e.g. the horizontal direction of a push button).
        It cannot be smaller than the size provided by sizeHint().

    \value Maximum  The sizeHint() is a maximum. The widget can be
        shrunk any amount without detriment if other widgets need the
        space (e.g. a separator line).
        It cannot be larger than the size provided by sizeHint().

    \value Preferred  The sizeHint() is best, but the widget can be
        shrunk and still be useful. The widget can be expanded, but there
        is no advantage to it being larger than sizeHint() (the default
        QWidget policy).

    \value Expanding  The sizeHint() is a sensible size, but the
        widget can be shrunk and still be useful. The widget can make use
        of extra space, so it should get as much space as possible (e.g.
        the horizontal direction of a horizontal slider).

    \value MinimumExpanding  The sizeHint() is minimal, and sufficient.
        The widget can make use of extra space, so it should get as much
        space as possible (e.g. the horizontal direction of a horizontal
        slider).

    \value Ignored  The sizeHint() is ignored. The widget will get as
        much space as possible.

    \sa PolicyFlag, setHorizontalPolicy(), setVerticalPolicy()
*/</doc>
