<dec f='qtbase-6.5.0/src/network/ssl/qssl.h' l='124' type='2'/>
<doc f='qtbase-6.5.0/src/network/ssl/qssl.cpp' l='226'>\value Socket Class QSslSocket.
    </doc>
