<dec f='qtbase-6.5.0/src/widgets/widgets/qstatusbar.cpp' l='53' type='QTimer *'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qstatusbar.cpp' l='196' u='w' c='_ZN10QStatusBarC1EP7QWidget'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qstatusbar.cpp' l='496' u='r' c='_ZN10QStatusBar11showMessageERK7QStringi'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qstatusbar.cpp' l='497' u='w' c='_ZN10QStatusBar11showMessageERK7QStringi'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qstatusbar.cpp' l='498' u='r' c='_ZN10QStatusBar11showMessageERK7QStringi'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qstatusbar.cpp' l='500' u='r' c='_ZN10QStatusBar11showMessageERK7QStringi'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qstatusbar.cpp' l='501' u='r' c='_ZN10QStatusBar11showMessageERK7QStringi'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qstatusbar.cpp' l='502' u='r' c='_ZN10QStatusBar11showMessageERK7QStringi'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qstatusbar.cpp' l='503' u='w' c='_ZN10QStatusBar11showMessageERK7QStringi'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qstatusbar.cpp' l='523' u='r' c='_ZN10QStatusBar12clearMessageEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qstatusbar.cpp' l='524' u='r' c='_ZN10QStatusBar12clearMessageEv'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qstatusbar.cpp' l='525' u='w' c='_ZN10QStatusBar12clearMessageEv'/>
<offset>5056</offset>
