<def f='qtbase-6.5.0/src/corelib/global/qnamespace.h' l='1268' ll='1273'/>
<use f='qtbase-6.5.0/src/corelib/global/qnamespace.h' l='1275'/>
<use f='qtbase-6.5.0/src/corelib/global/qnamespace.h' l='1738' c='_ZN2Qt20qt_getEnumMetaObjectENS_4EdgeE'/>
<use f='qtbase-6.5.0/src/corelib/global/qnamespace.h' l='1738' c='_ZN2Qt14qt_getEnumNameENS_4EdgeE'/>
