<dec f='qtbase-6.5.0/src/corelib/global/qnamespace.h' l='214' type='17'/>
<use f='qtbase-6.5.0/src/gui/accessible/qaccessibleobject.cpp' l='129' u='r' c='_ZL15topLevelObjectsv'/>
<use f='qtbase-6.5.0/src/gui/kernel/qguiapplication.cpp' l='846' u='r' c='_ZL23needsWindowBlockedEventPK7QWindow'/>
<use f='qtbase-6.5.0/src/gui/kernel/qguiapplication.cpp' l='1017' u='r' c='_ZN15QGuiApplication15topLevelWindowsEv'/>
<use f='qtbase-6.5.0/src/gui/kernel/qguiapplication.cpp' l='1966' u='r' c='_ZN15QGuiApplication5eventEP6QEvent'/>
<use f='qtbase-6.5.0/src/gui/kernel/qguiapplication.cpp' l='1972' u='r' c='_ZN15QGuiApplication5eventEP6QEvent'/>
<use f='qtbase-6.5.0/src/gui/kernel/qguiapplication.cpp' l='4044' u='r' c='_ZL11applyCursorRK5QListIP7QWindowERK7QCursor'/>
<use f='qtbase-6.5.0/src/gui/kernel/qguiapplication.cpp' l='4069' u='r' c='_ZL17applyWindowCursorRK5QListIP7QWindowE'/>
<use f='qtbase-6.5.0/src/gui/kernel/qwindow.cpp' l='136' u='r' c='_ZL16nonDesktopParentP7QWindow'/>
<use f='qtbase-6.5.0/src/gui/kernel/qwindow.cpp' l='973' u='r' c='_ZN7QWindow8setTitleERK7QString'/>
<use f='qtbase-6.5.0/src/plugins/platforms/eglfs/api/qeglfswindow.cpp' l='61' u='r' c='_ZN12QEglFSWindow6createEv'/>
<use f='qtbase-6.5.0/src/plugins/platforms/eglfs/api/qeglfswindow.cpp' l='69' u='r' c='_ZN12QEglFSWindow6createEv'/>
<use f='qtbase-6.5.0/src/plugins/platforms/eglfs/api/qeglfswindow.cpp' l='214' u='r' c='_ZN12QEglFSWindow10setVisibleEb'/>
<use f='qtbase-6.5.0/src/plugins/platforms/eglfs/api/qeglfswindow.cpp' l='262' u='r' c='_ZN12QEglFSWindow21requestActivateWindowEv'/>
<use f='qtbase-6.5.0/src/plugins/platforms/eglfs/api/qeglfswindow.cpp' l='273' u='r' c='_ZN12QEglFSWindow5raiseEv'/>
<use f='qtbase-6.5.0/src/plugins/platforms/eglfs/api/qeglfswindow.cpp' l='286' u='r' c='_ZN12QEglFSWindow5lowerEv'/>
<use f='qtbase-6.5.0/src/plugins/platforms/offscreen/qoffscreencommon.cpp' l='42' u='r' c='_ZN16QOffscreenCursor6setPosERK6QPoint'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qapplication.cpp' l='974' u='r' c='_ZN12QApplication8setStyleEP6QStyle'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qapplication.cpp' l='1015' u='r' c='_ZN12QApplication8setStyleEP6QStyle'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qapplication.cpp' l='1027' u='r' c='_ZN12QApplication8setStyleEP6QStyle'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qapplication.cpp' l='1447' u='r' c='_ZN12QApplication15topLevelWidgetsEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qapplication.cpp' l='1587' u='r' c='_ZN19QApplicationPrivate24tryCloseAllWidgetWindowsEP5QListIP7QWindowE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qapplication.cpp' l='1669' u='r' c='_ZN12QApplication5eventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qapplication.cpp' l='1685' u='r' c='_ZN12QApplication5eventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qapplication.cpp' l='1737' u='r' c='_ZN12QApplication5eventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qapplication.cpp' l='2455' u='r' c='_ZN19QApplicationPrivate7desktopEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qapplication.cpp' l='2456' u='r' c='_ZN19QApplicationPrivate7desktopEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='992' u='r' c='_ZN14QWidgetPrivate4initEP7QWidget6QFlagsIN2Qt10WindowTypeEE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='1182' u='r' c='_ZN7QWidget6createEybb'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='1200' u='r' c='_ZN7QWidget6createEybb'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='1286' u='r' c='_ZN14QWidgetPrivate6createEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='1314' u='r' c='_ZN14QWidgetPrivate6createEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='1336' u='r' c='_ZN14QWidgetPrivate6createEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='2669' u='r' c='_ZN14QWidgetPrivate15setStyle_helperEP6QStyleb'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='9146' u='r' c='_ZN7QWidget5eventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='9393' u='r' c='_ZN7QWidget11changeEventEP6QEvent'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='10648' u='r' c='_ZN7QWidget9setParentEPS_6QFlagsIN2Qt10WindowTypeEE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='10808' u='r' c='_ZN14QWidgetPrivate13setParent_sysEP7QWidget6QFlagsIN2Qt10WindowTypeEE'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='11985' u='r' c='_ZNK14QWidgetPrivate10frameStrutEv'/>
<use f='qtbase-6.5.0/src/widgets/kernel/qwidget.cpp' l='12382' u='r' c='_ZN7QWidget7destroyEbb'/>
<use f='qtbase-6.5.0/src/widgets/styles/qstylesheetstyle.cpp' l='2519' u='r' c='_ZL10unstylablePK7QWidget'/>
<use f='qtbase-6.5.0/src/widgets/widgets/qrubberband.cpp' l='98' u='r' c='_ZN11QRubberBandC1ENS_5ShapeEP7QWidget'/>
