<dec f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='45' type='QCborContainerPrivate *'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='55' c='_ZN6QtCbor7ElementC1EP21QCborContainerPrivateN10QCborValue4TypeE6QFlagsINS0_9ValueFlagEE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='160' u='r' c='_ZNK21QCborContainerPrivate11containerAtExN10QCborValue4TypeE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='171' u='w' c='_ZN21QCborContainerPrivate18replaceAt_internalERN6QtCbor7ElementERK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='177' u='r' c='_ZN21QCborContainerPrivate9replaceAtExRK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='178' u='w' c='_ZN21QCborContainerPrivate9replaceAtExRK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='288' u='r' c='_ZNK21QCborContainerPrivate7valueAtEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='292' u='r' c='_ZNK21QCborContainerPrivate7valueAtEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='305' u='r' c='_ZN21QCborContainerPrivate9extractAtEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='307' u='r' c='_ZN21QCborContainerPrivate9extractAtEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='310' u='r' c='_ZN21QCborContainerPrivate9extractAtEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue_p.h' l='326' u='w' c='_ZN21QCborContainerPrivate16elementFromValueERK10QCborValue'/>
<offset>0</offset>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='921' u='r' c='_ZN21QCborContainerPrivateD1Ev'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='952' u='r' c='_ZN21QCborContainerPrivate5cloneEPS_x'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1001' u='w' c='_ZN21QCborContainerPrivate17replaceAt_complexERN6QtCbor7ElementERK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1003' u='w' c='_ZN21QCborContainerPrivate17replaceAt_complexERN6QtCbor7ElementERK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1005' u='r' c='_ZN21QCborContainerPrivate17replaceAt_complexERN6QtCbor7ElementERK10QCborValueNS_20ContainerDispositionE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1120' u='r' c='_ZL23compareElementRecursivePK21QCborContainerPrivateRKN6QtCbor7ElementES1_S5_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1121' u='r' c='_ZL23compareElementRecursivePK21QCborContainerPrivateRKN6QtCbor7ElementES1_S5_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1393' u='r' c='_ZL12encodeToCborR17QCborStreamWriterPK21QCborContainerPrivatex6QFlagsIN10QCborValue14EncodingOptionEE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='1414' u='r' c='_ZL12encodeToCborR17QCborStreamWriterPK21QCborContainerPrivatex6QFlagsIN10QCborValue14EncodingOptionEE'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2254' u='r' c='_ZL17convertArrayToMapRP21QCborContainerPrivate'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2298' u='a' c='_ZN21QCborContainerPrivate15findOrAddMapKeyE13QCborValueRefT_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2301' u='r' c='_ZN21QCborContainerPrivate15findOrAddMapKeyE13QCborValueRefT_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2302' u='w' c='_ZN21QCborContainerPrivate15findOrAddMapKeyE13QCborValueRefT_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2307' c='_ZN21QCborContainerPrivate15findOrAddMapKeyE13QCborValueRefT_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qcborvalue.cpp' l='2308' u='a' c='_ZN21QCborContainerPrivate15findOrAddMapKeyE13QCborValueRefT_'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsoncbor.cpp' l='162' u='r' c='_ZL10makeStringPK21QCborContainerPrivatex14ConversionMode'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsoncbor.cpp' l='269' u='r' c='_Z16qt_convertToJsonP21QCborContainerPrivatex14ConversionMode'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonparser.cpp' l='427' u='r' c='_ZL13sortContainerP21QCborContainerPrivate'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonvalue.cpp' l='1050' u='w' c='_ZN13QJsonValueRefixEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonvalue.cpp' l='1050' u='r' c='_ZN13QJsonValueRefixEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonvalue.cpp' l='1053' u='r' c='_ZN13QJsonValueRefixEx'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonvalue.cpp' l='1073' u='r' c='_ZN13QJsonValueRefixE14QAnyStringView'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonvalue.cpp' l='1074' u='r' c='_ZN13QJsonValueRefixE14QAnyStringView'/>
<use f='qtbase-6.5.0/src/corelib/serialization/qjsonvalue.cpp' l='1077' u='w' c='_ZN13QJsonValueRefixE14QAnyStringView'/>
