<def f='qtbase-6.5.0/src/corelib/thread/qfuture_impl.h' l='36'/>
<use f='qtbase-6.5.0/src/corelib/thread/qfuture_impl.h' l='297' c='_ZN9QtPrivate12Continuation6createEOTL0__P7QFutureIT1_ER16QFutureInterfaceIT0_EN8QtFuture6LaunchE'/>
<use f='qtbase-6.5.0/src/corelib/thread/qfuture_impl.h' l='513' c='_ZN9QtPrivate12Continuation6createEOTL0__P7QFutureIT1_ER16QFutureInterfaceIT0_EN8QtFuture6LaunchE'/>
<use f='qtbase-6.5.0/src/corelib/thread/qfuture.h' l='134' c='_ZN7QFuture4thenEN8QtFuture6LaunchEOTL0__'/>
<use f='qtbase-6.5.0/src/corelib/thread/qfuture.h' l='335' c='_ZN7QFuture4thenEN8QtFuture6LaunchEOTL0__'/>
