<use f='qtbase-6.5.0/src/widgets/itemviews/qtreewidget_p.h' l='156' u='w' c='_ZN22QTreeWidgetItemPrivateC1EP15QTreeWidgetItem'/>
<dec f='qtbase-6.5.0/src/widgets/itemviews/qtreewidget_p.h' l='166' type='QTreeWidgetItem::ChildIndicatorPolicy'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qtreewidget.cpp' l='308' u='r' c='_ZNK10QTreeModel11hasChildrenERK11QModelIndex'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qtreewidget.cpp' l='1608' u='r' c='_ZN15QTreeWidgetItem23setChildIndicatorPolicyENS_20ChildIndicatorPolicyE'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qtreewidget.cpp' l='1610' u='w' c='_ZN15QTreeWidgetItem23setChildIndicatorPolicyENS_20ChildIndicatorPolicyE'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qtreewidget.cpp' l='1626' u='r' c='_ZNK15QTreeWidgetItem20childIndicatorPolicyEv'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qtreewidget.cpp' l='1929' u='w' c='_ZN15QTreeWidgetItemaSERKS_'/>
<use f='qtbase-6.5.0/src/widgets/itemviews/qtreewidget.cpp' l='1929' u='r' c='_ZN15QTreeWidgetItemaSERKS_'/>
<offset>320</offset>
