<def f='include/c++/9/future' l='137' ll='141'/>
<use f='include/c++/9/future' l='143' c='_ZStanSt6launchS_'/>
<use f='include/c++/9/future' l='143' c='_ZStanSt6launchS_'/>
<use f='include/c++/9/future' l='143' c='_ZStanSt6launchS_'/>
<use f='include/c++/9/future' l='145' c='_ZStanSt6launchS_'/>
<use f='include/c++/9/future' l='149' c='_ZStorSt6launchS_'/>
<use f='include/c++/9/future' l='149' c='_ZStorSt6launchS_'/>
<use f='include/c++/9/future' l='149' c='_ZStorSt6launchS_'/>
<use f='include/c++/9/future' l='151' c='_ZStorSt6launchS_'/>
<use f='include/c++/9/future' l='155' c='_ZSteoSt6launchS_'/>
<use f='include/c++/9/future' l='155' c='_ZSteoSt6launchS_'/>
<use f='include/c++/9/future' l='155' c='_ZSteoSt6launchS_'/>
<use f='include/c++/9/future' l='157' c='_ZSteoSt6launchS_'/>
<use f='include/c++/9/future' l='161' c='_ZStcoSt6launch'/>
<use f='include/c++/9/future' l='161' c='_ZStcoSt6launch'/>
<use f='include/c++/9/future' l='162' c='_ZStcoSt6launch'/>
<use f='include/c++/9/future' l='164' c='_ZStaNRSt6launchS_'/>
<use f='include/c++/9/future' l='164' c='_ZStaNRSt6launchS_'/>
<use f='include/c++/9/future' l='164' c='_ZStaNRSt6launchS_'/>
<use f='include/c++/9/future' l='167' c='_ZStoRRSt6launchS_'/>
<use f='include/c++/9/future' l='167' c='_ZStoRRSt6launchS_'/>
<use f='include/c++/9/future' l='167' c='_ZStoRRSt6launchS_'/>
<use f='include/c++/9/future' l='170' c='_ZSteORSt6launchS_'/>
<use f='include/c++/9/future' l='170' c='_ZSteORSt6launchS_'/>
<use f='include/c++/9/future' l='170' c='_ZSteORSt6launchS_'/>
<use f='include/c++/9/future' l='189' c='_ZSt5asyncSt6launchOT_DpOT0_'/>
<use f='include/c++/9/future' l='767' c='_ZSt5asyncSt6launchOTL0__DpOTL0_0_'/>
<use f='include/c++/9/future' l='810' c='_ZSt5asyncSt6launchOTL0__DpOTL0_0_'/>
<use f='include/c++/9/future' l='853' c='_ZSt5asyncSt6launchOT_DpOT0_'/>
<use f='include/c++/9/future' l='1707' c='_ZSt5asyncSt6launchOT_DpOT0_'/>
<doc f='include/c++/9/future' l='136'>/// Launch code for futures</doc>
