<dec f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.h' l='554' type='VCConfiguration *'/>
<offset>6336</offset>
<use f='qtbase-6.5.0/qmake/generators/win32/msbuild_objectmodel.cpp' l='1373' u='r' c='_ZL34fixedProgramDataBaseFileNameOutputRK16VCCLCompilerTool'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msbuild_objectmodel.cpp' l='1401' u='r' c='_ZN16VCXProjectWriter5writeER9XmlOutputRK16VCCLCompilerTool'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msbuild_objectmodel.cpp' l='1805' u='w' c='_ZN16VCXProjectWriter17outputFileConfigsER9VCProjectR9XmlOutputS3_RK12VCFilterFileRK7QString'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='480' u='r' c='_ZN16VCCLCompilerTool11parseOptionEPKc'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='527' u='r' c='_ZN16VCCLCompilerTool11parseOptionEPKc'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='675' u='r' c='_ZN16VCCLCompilerTool11parseOptionEPKc'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='678' u='r' c='_ZN16VCCLCompilerTool11parseOptionEPKc'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='857' u='r' c='_ZN16VCCLCompilerTool11parseOptionEPKc'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='1004' u='r' c='_ZN16VCCLCompilerTool11parseOptionEPKc'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='1189' u='r' c='_ZN16VCCLCompilerTool11parseOptionEPKc'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='1203' u='r' c='_ZN16VCCLCompilerTool11parseOptionEPKc'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='2209' u='w' c='_ZN15VCConfigurationC1Ev'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='2666' u='r' c='_ZN15VCProjectWriter5writeER9XmlOutputRK16VCCLCompilerTool'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='2705' u='r' c='_ZN15VCProjectWriter5writeER9XmlOutputRK16VCCLCompilerTool'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='3033' u='w' c='_ZN15VCProjectWriter16outputFileConfigER8VCFilterR9XmlOutputRK7QString'/>
