<dec f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.h' l='931' type='VCConfiguration *'/>
<offset>704</offset>
<use f='qtbase-6.5.0/qmake/generators/win32/msbuild_objectmodel.cpp' l='1795' u='r' c='_ZN16VCXProjectWriter17outputFileConfigsER9VCProjectR9XmlOutputS3_RK12VCFilterFileRK7QString'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msbuild_objectmodel.cpp' l='1803' u='r' c='_ZN16VCXProjectWriter17outputFileConfigsER9VCProjectR9XmlOutputS3_RK12VCFilterFileRK7QString'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msbuild_objectmodel.cpp' l='1805' u='r' c='_ZN16VCXProjectWriter17outputFileConfigsER9VCProjectR9XmlOutputS3_RK12VCFilterFileRK7QString'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msbuild_objectmodel.cpp' l='1817' u='r' c='_ZN16VCXProjectWriter17outputFileConfigsER9VCProjectR9XmlOutputS3_RK12VCFilterFileRK7QString'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msbuild_objectmodel.cpp' l='1878' u='r' c='_ZN16VCXProjectWriter16outputFileConfigEPNS_16OutputFilterDataER9XmlOutputS3_RK7QStringS6_bb'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='2217' u='w' c='_ZN8VCFilterC1Ev'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='2268' u='r' c='_ZN8VCFilter14modifyPCHstageE7QString'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='3009' u='r' c='_ZN15VCProjectWriter17outputFileConfigsER9VCProjectR9XmlOutputRK12VCFilterFileRK7QString'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='3024' u='r' c='_ZN15VCProjectWriter16outputFileConfigER8VCFilterR9XmlOutputRK7QString'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='3033' u='r' c='_ZN15VCProjectWriter16outputFileConfigER8VCFilterR9XmlOutputRK7QString'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_objectmodel.cpp' l='3052' u='r' c='_ZN15VCProjectWriter16outputFileConfigER8VCFilterR9XmlOutputRK7QString'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_vcproj.cpp' l='1360' u='w' c='_ZN15VcprojGenerator13initRootFilesEv'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_vcproj.cpp' l='1372' u='w' c='_ZN15VcprojGenerator15initSourceFilesEv'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_vcproj.cpp' l='1386' u='w' c='_ZN15VcprojGenerator15initHeaderFilesEv'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_vcproj.cpp' l='1407' u='w' c='_ZN15VcprojGenerator18initGeneratedFilesEv'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_vcproj.cpp' l='1422' u='w' c='_ZN15VcprojGenerator16initLexYaccFilesEv'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_vcproj.cpp' l='1436' u='w' c='_ZN15VcprojGenerator20initTranslationFilesEv'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_vcproj.cpp' l='1447' u='w' c='_ZN15VcprojGenerator13initFormFilesEv'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_vcproj.cpp' l='1480' u='w' c='_ZN15VcprojGenerator17initResourceFilesEv'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_vcproj.cpp' l='1491' u='w' c='_ZN15VcprojGenerator21initDistributionFilesEv'/>
<use f='qtbase-6.5.0/qmake/generators/win32/msvc_vcproj.cpp' l='1581' u='w' c='_ZN15VcprojGenerator24initExtraCompilerOutputsEv'/>
